{% extends 'master.html' %}

{% load static %}
{% block title %} Топографик материалларни чоп етиш {% endblock %}

{% block content%}

{% block stylecontent %}
<style>
    p {
        margin: 0;
        color: #111727 !important;
    }
    .form-plan{
        border: 1px solid #e6edef;
    }

    .actform {
        border: none;
        border-bottom: 1px solid #cccccc;
    }

</style>
{% endblock stylecontent %}
        <link rel="stylesheet" type="text/css" href="{% static 'assets/css/dropzone.css' %}">
  <div class="modal fade modal-bookmark " id="exampleModal"
       tabindex="-1" aria-labelledby="exampleModalLabel"
       style="display: none;" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
              <div class="modal-header bg-primary">
                  <h5 class="modal-title" id="exampleModalLabel">
                      Буюртма ҳақида маълумот</h5>
                  <button class="btn-close text-white" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                  <div class="row">
                      <div class="col-lg-6">
                          <div class="mb-2">
                              <b>Шартнома рақами<sup style="color: red;">*</sup></b>
                              <p>{{ pdowork.pdowork.object_number }}</p>
                          </div>
                          <div class="mb-2">
                              <b>Шартнома санаси</b>
                              <p>{{ pdowork.pdowork.agreement_date }}</p>
                          </div>
                          <div class="mb-2">
                              <b>Обект номи<sup style="color: red;">*</sup></b>
                              <p>{{ pdowork.pdowork.object_name }} </p>
                          </div>
                          <div class="mb-2">
                              <b>Буюрмачи</b>
                              <p>{{ pdowork.pdowork.customer }}</p>
                          </div>
                          <div class="mb-2">
                              <b>Обект манзили<sup style="color: red;">*</sup></b>
                              <p>{{ pdowork.pdowork.object_address }}</p>
                          </div>
                      </div>
                      <div class="col-lg-6 text-end">
                          <div class="mb-2">
                              <b>Бажариш муддати<sup style="color: red;">*</sup></b>
                              <p>{{ pdowork.pdowork.work_term }} kun</p>
                          </div>
                          <div class="mb-2">
                              <b>Буюртмачи маълумотлари<sup style="color: red;">*</sup></b>
                              <p>{{ pdowork.pdowork.customer_info }}</p>
                          </div>
                          <div class="mb-2">
                              <b>Иш тури<sup style="color: red;">*</sup></b>
                              <p>{{ pdowork.pdowork.work_type }}</p>
                          </div>
                          <div class="mb-2">
                              <b>Нархи<sup style="color: red;">*</sup></b>
                              <p>{{ pdowork.pdowork.object_cost}}</p>
                          </div>
                          <div class="mb-2">
                              <b>Маъсул бажарувчи бўлим<sup style="color: red;">*</sup></b>
                              <p>{{ pdowork.pdowork.department }}</p>
                          </div>
                      </div>
                  </div>
                  <ul class="folder">
                      <li class="folder-box">
                          <div class="media"><i class="fa fa-file-pdf-o f-36 txt-warning"></i>
                              <div class="media-body ">
                                  <h6 class="">
                                      <a href="/{{ pdowork.pdowork.latter }}">Буюрта хати билан танишиш</a></h6>
                              </div>
                          </div>
                      </li>
                      <li class="folder-box">
                          <div class="media"><i class="fa fa-file-pdf-o f-36 txt-warning"></i>
                              <div class="media-body ">
                                  <h6 class="">
                                      <a href="/{{ pdowork.pdowork.tz }}">Техник топшириқ файли билан танишиш</a></h6>
                              </div>
                          </div>
                      </li>
                      <li class="folder-box">
                          <div class="media"><i class="fa fa-file-pdf-o f-36 txt-warning"></i>
                              <div class="media-body ">
                                  <h6 class=""><a href="/{{ pdowork.pdowork.smeta }}">Смета файли билан танишиш</a></h6>
                              </div>
                          </div>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
  </div>


    <div class="modal fade modal-bookmark " id="exampleModal1"
       tabindex="-1" aria-labelledby="exampleModalLabel1"
       style="display: none;" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
              <div class="modal-header bg-danger">
                  <h5 class="modal-title text-white" id="exampleModalLabel1">
                      Рад этилганлар
                  </h5>
                  <button class="btn-close text-white" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                  <div class="row">
                      <div class="col-md-12">
                                           {% if rejects_programworks %}
                                <b>Топографик геодезик дастуридан қайтиш сабаблари</b>
                            {% endif %}
                            <ol>
                                {% for work in rejects_programworks %}
                                    <hr>
                                       <li><a href="/{{ work.file }}"> Қайтариш сабаби аризаси</a></li>
                                       <li>{{ work.reason }}</li>
                                    <hr>
                                {% endfor %}

                            </ol>
                      {% if rejects_akt_polevoy_works %}
                            <b>Дала назоратидан қайтиш сабаблари</b>
                      {% endif %}
                            <ol>
                                {% for work in rejects_akt_polevoy_works %}
                                    <hr>
                                       <li><a href="/{{ work.file }}"> Қайтариш сабаби аризаси</a></li>
                                       <li>{{ work.reason }}</li>
                                    <hr>
                                {% endfor %}

                            </ol>
                      {% if rejects_akt_komeral_works %}
                            <b>Комерал назоратдан қайтиш сабаблари</b>
                      {% endif %}
                            <ol>
                                {% for work in rejects_akt_komeral_works %}
                                    <hr>
                                       <li><a href="/{{ work.file }}"> Қайтариш сабаби аризаси</a></li>
                                       <li>{{ work.reason }}</li>
                                    <hr>
                                {% endfor %}

                            </ol>
                      {% if rejects_akt_komeral_leader_works %}
                             <b>Бош геодезис назоратидан қайтиш сабаблари</b>
                      {% endif %}
                            <ol>
                                {% for work in rejects_akt_komeral_leader_works %}
                                    <hr>
                                       <li><a href="/{{ work.file }}"> Қайтариш сабаби аризаси</a></li>
                                       <li>{{ work.reason }}</li>
                                    <hr>
                                {% endfor %}

                            </ol>
                       {% if rejects_reports %}
                            <b>Ҳисобот текширувидан қайтиш сабаблари</b>
                      {% endif %}
                            <ol>
                                {% for work in rejects_reports %}
                                    <hr>
                                       <li><a href="/{{ work.file }}"> Қайтариш сабаби аризаси</a></li>
                                       <li>{{ work.reason }}</li>
                                    <hr>
                                {% endfor %}

                            </ol>
                            <hr>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>



<div class="modal fade bd-example-modal-lg" tabindex="0" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h4 class="modal-title " id="myLargeModalLabel">
                    {% if order.type_of_sirie == '0' %}
                        Полевые материалы по БПЛА
                    {% endif %}
                    {% if order.type_of_sirie == '1' %}
                        Полевые материалы GNSS
                    {% endif %}
                    {% if order.type_of_sirie == '1' %}
                        Сырые измерительные данные для тахеометрической съемки (по факту)
                    {% endif %}
                </h4>
                <div type="button" data-bs-dismiss="modal" aria-label="Close">X</div>
            </div>
            <div class="modal-body">

                       <div class="row text-end">
                    {% if order.type_of_sirie == '0' %}
                        {% if siriefiles.file1_1 %}
                                <div class="col-lg-6 m-b-10">
                                    <div class="m-b-10">
                                        <div>Разрешение на залет от МО РУз</div>
                                        <a href="/{{ siriefiles.file1_1 }}"> <i class="fa fa-eye" aria-hidden="true"></i> Файлини кўриш</a>
                                    </div>
                                </div>
                        {% endif %}
                        {% if siriefiles.file1_2 %}
                    <div class="col-lg-6 m-b-10">
                        <div class="m-b-10">
                            <div>Схема планирования залета БПЛА<sup style="color: red;">*</sup></div>
                            <a  href="/{{ siriefiles.file1_2 }}"><i class="fa fa-eye" aria-hidden="true"></i> Файлини кўриш</a>
                        </div>
                    </div>
                            {% endif %}
                        {% if siriefiles.file1_3 %}
                    <div class="col-lg-6 m-b-10">
                          <div class="m-b-10">
                            <div>Схема выполненных залетов<sup style="color: red;">*</sup></div>
                            <a href="/{{ siriefiles.file1_3 }}"><i class="fa fa-eye" aria-hidden="true"></i> Файлини кўриш</a>
                        </div>
                    </div>
                            {% endif %}
                        {% if siriefiles.file1_4 %}
                    <div class="col-lg-6 m-b-10">
                        <div class='m-b-10'>
                            <div>Отчёт калибровки<sup style="color: red;">*</sup></div>
                            <a href="/{{ siriefiles.file1_4 }}"><i class="fa fa-eye" aria-hidden="true"></i> Файлини кўриш</a>
                        </div>
                    </div>
                            {% endif %}
                        {% if siriefiles.file1_5 %}
                    <div class="col-lg-6 m-b-10">
                        <div class="m-b-10">
                            <div>Схема расположение опознаков и исходные пункты<sup style="color: red;">*</sup></div>
                            <a href="/{{ siriefiles.file1_5 }}"><i class="fa fa-eye" aria-hidden="true"></i> Файлини кўриш</a>
                        </div>
                    </div>
                            {% endif %}
                        {% if siriefiles.file1_6 %}
                    <div class="col-lg-6 m-b-10">
                        <div class="m-b-10">
                            <div>Каталог координат исходных пунктов<sup style="color: red;">*</sup></div>
                            <a href="/{{ siriefiles.file1_6 }}"><i class="fa fa-eye" aria-hidden="true"></i> Файлини кўриш</a>
                        </div>
                    </div>
                            {% endif %}
                        {% if siriefiles.file1_7 %}
                    <div class="col-lg-6 m-b-10">
                        <div class="m-b-10">
                            <div>Ведомость обследование пунктов<sup style="color: red;">*</sup></div>
                            <a href="/{{ siriefiles.file1_7 }}"><i class="fa fa-eye" aria-hidden="true"></i> Файлини кўриш</a>
                        </div>
                    </div>
                            {% endif %}
                        {% if siriefiles.file1_8 %}
                    <div class="col-lg-6 m-b-10">
                         <div class="m-b-10">
                            <div>Кроки  исходных пунктов<sup style="color: red;">*</sup></div>
                            <a href="/{{ siriefiles.file1_8 }}"><i class="fa fa-eye" aria-hidden="true"></i> Файлини кўриш</a>
                        </div>
                    </div>
                            {% endif %}
                        {% if siriefiles.file1_9 %}
                    <div class="col-lg-6 m-b-10">
                         <div class="m-b-10">
                            <div>Отчёт обработки ортофотоплана<sup style="color: red;">*</sup></div>
                            <a href="/{{ siriefiles.file1_9 }}"><i class="fa fa-eye" aria-hidden="true"></i> Файлини кўриш</a>
                        </div>
                    </div>
                            {% endif %}
                        {% if siriefiles.file1_10 %}
                    <div class="col-lg-6 m-b-10">
                        <div class="m-b-10">
                            <div>Измерения, скаченные с прибора(БПЛА)<sup style="color: red;">*</sup></div>
                            <a href="/{{ siriefiles.file1_10 }}"><i class="fa fa-eye" aria-hidden="true"></i> Файлини кўриш</a>
                        </div>
                    </div>
                            {% endif %}
                        {% if siriefiles.file1_11 %}
                    <div class="col-lg-6 m-b-10">
                        <div class="m-b-10">
                            <div>Фото. опознаков<sup style="color: red;">*</sup></div>
                            <a href="/{{ siriefiles.file1_11 }}"><i class="fa fa-eye" aria-hidden="true"></i> Файлини кўриш</a>
                        </div>
                    </div>
                            {% endif %}
                    {% endif %}

                    {% if order.type_of_sirie == '1' %}
                        {% if siriefiles.file2_1 %}
                         <div class="col-lg-6 m-b-10">
                            <div class="m-b-10">
                                <div>Каталог координат исходных пунктов</div>
                                <a href="/{{ siriefiles.file2_1 }}"> <i class="fa fa-eye" aria-hidden="true"></i> Файлини кўриш</a>
                            </div>
                        </div>
                            {% endif %}
                        {% if siriefiles.file2_2 %}
                        <div class="col-lg-6 m-b-10">
                            <div class="m-b-10">
                                <div>Каталог кооодинат долговременных точек <sup style="color: red;">*</sup></div>
                                <a  href="/{{ siriefiles.file2_2 }}"><i class="fa fa-eye" aria-hidden="true"></i> Файлини кўриш</a>
                            </div>
                        </div>
                            {% endif %}
                        {% if siriefiles.file2_3 %}
                        <div class="col-lg-6 m-b-10">
                              <div class="m-b-10">
                                <div>Ведомость обследование пунктов<sup style="color: red;">*</sup></div>
                                <a href="/{{ siriefiles.file2_3 }}"><i class="fa fa-eye" aria-hidden="true"></i> Файлини кўриш</a>
                            </div>
                        </div>
                            {% endif %}
                        {% if siriefiles.file2_4 %}
                        <div class="col-lg-6 m-b-10">
                            <div class='m-b-10'>
                                <div>Отчёт калибровки<sup style="color: red;">*</sup></div>
                                <a href="/{{ siriefiles.file2_4 }}"><i class="fa fa-eye" aria-hidden="true"></i> Файлини кўриш</a>
                            </div>
                        </div>
                            {% endif %}
                        {% if siriefiles.file2_5 %}
                        <div class="col-lg-6 m-b-10">
                            <div class="m-b-10">
                                <div>Кроки  исходных пунктов<sup style="color: red;">*</sup></div>
                                <a href="/{{ siriefiles.file2_5 }}"><i class="fa fa-eye" aria-hidden="true"></i> Файлини кўриш</a>
                            </div>
                        </div>
                            {% endif %}
                        {% if siriefiles.file2_6 %}
                        <div class="col-lg-6 m-b-10">
                            <div class="m-b-10">
                                <div>Измерения, скаченные с прибора ( GNSS )<sup style="color: red;">*</sup></div>
                                <a href="/{{ siriefiles.file2_6 }}"><i class="fa fa-eye" aria-hidden="true"></i> Файлини кўриш</a>
                            </div>
                        </div>
                            {% endif %}
                        {% if siriefiles.file2_7 %}
                         <div class="col-lg-6 m-b-10">
                            <div class="m-b-10">
                                <div>Схема калибровки с границами объекта<sup style="color: red;">*</sup></div>
                                <a href="/{{ siriefiles.file2_7 }}"><i class="fa fa-eye" aria-hidden="true"></i> Файлини кўриш</a>
                            </div>
                        </div>
                            {% endif %}
                    {% endif %}

                     {% if order.type_of_sirie == '2' %}
                         {% if siriefiles.file3_1 %}
                         <div class="col-lg-6 m-b-10">
                            <div class="m-b-10">
                                <div>Ведомость обследования наличия и состояния пунктов геодезической сети на объекте</div>
                                <a href="/{{ siriefiles.file3_1 }}"> <i class="fa fa-eye" aria-hidden="true"></i> Файлини кўриш</a>
                            </div>
                        </div>
                             {% endif %}
                         {% if siriefiles.file3_2 %}
                        <div class="col-lg-6 m-b-10">
                            <div class="m-b-10">
                                <div>Каталог исходных пунктов и ранее заложенных точек <sup style="color: red;">*</sup></div>
                                <a  href="/{{ siriefiles.file3_2 }}"><i class="fa fa-eye" aria-hidden="true"></i> Файлини кўриш</a>
                            </div>
                        </div>
                             {% endif %}
                         {% if siriefiles.file3_3 %}
                        <div class="col-lg-6 m-b-10">
                              <div class="m-b-10">
                                <div>Схема съемочного обоснования<sup style="color: red;">*</sup></div>
                                <a href="/{{ siriefiles.file3_3 }}"><i class="fa fa-eye" aria-hidden="true"></i> Файлини кўриш</a>
                            </div>
                        </div>
                             {% endif %}
                         {% if siriefiles.file3_4 %}
                        <div class="col-lg-6 m-b-10">
                            <div class='m-b-10'>
                                <div>Хурналы нивелирования теодолитных ходов<sup style="color: red;">*</sup></div>
                                <a href="/{{ siriefiles.file3_4 }}"><i class="fa fa-eye" aria-hidden="true"></i> Файлини кўриш</a>
                            </div>
                        </div>
                             {% endif %}
                         {% if siriefiles.file3_5 %}
                        <div class="col-lg-6 m-b-10">
                            <div class="m-b-10">
                                <div>Ведомость уравнивания теодолитных ходов и характеристики<sup style="color: red;">*</sup></div>
                                <a href="/{{ siriefiles.file3_5 }}"><i class="fa fa-eye" aria-hidden="true"></i> Файлини кўриш</a>
                            </div>
                        </div>
                             {% endif %}
                         {% if siriefiles.file3_6 %}
                        <div class="col-lg-6 m-b-10">
                            <div class="m-b-10">
                                <div>Ведомость нивелирных ходов и характеристики<sup style="color: red;">*</sup></div>
                                <a href="/{{ siriefiles.file3_6 }}"><i class="fa fa-eye" aria-hidden="true"></i> Файлини кўриш</a>
                            </div>
                        </div>
                             {% endif %}
                         {% if siriefiles.file3_7 %}
                        <div class="col-lg-6 m-b-10">
                            <div class="m-b-10">
                                <div>Схема уравнивания<sup style="color: red;">*</sup></div>
                                <a href="/{{ siriefiles.file3_7 }}"><i class="fa fa-eye" aria-hidden="true"></i> Файлини кўриш</a>
                            </div>
                        </div>
                             {% endif %}
                         {% if siriefiles.file3_8 %}
                        <div class="col-lg-6 m-b-10">
                            <div class="m-b-10">
                                <div>Схема размещения объекта по планшетам<sup style="color: red;">*</sup></div>
                                <a href="/{{ siriefiles.file3_8 }}"><i class="fa fa-eye" aria-hidden="true"></i> Файлини кўриш</a>
                            </div>
                        </div>
                             {% endif %}
                         {% if siriefiles.file3_9 %}
                        <div class="col-lg-6 m-b-10">
                            <div class="m-b-10">
                                <div>Каталог координат (пикеты)<sup style="color: red;">*</sup></div>
                                <a href="/{{ siriefiles.file3_9 }}"><i class="fa fa-eye" aria-hidden="true"></i> Файлини кўриш</a>
                            </div>
                        </div>
                             {% endif %}
                         {% if siriefiles.file3_10 %}
                        <div class="col-lg-6 m-b-10">
                            <div class="m-b-10">
                                <div>Измерения, скаченные с прибора (тахеометра)<sup style="color: red;">*</sup></div>
                                <a href="/{{ siriefiles.file3_10 }}"><i class="fa fa-eye" aria-hidden="true"></i> Файлини кўриш</a>
                            </div>
                        </div>
                             {% endif %}
                    {% endif %}


                </div>
            </div>
        </div>
    </div>
</div>




        <div class="page-body">
            <div class="container-fluid">
                <div class="page-header">
                    <div class="row">

                        <div class="col-sm-6">
                            <h3>Топографик материалларни чоп етиш</h3>
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="{% url 'index' %}"><i class="fa fa-home f-20"></i></a></li>
                                <li class="breadcrumb-item"><a href="{% url 'ogogd_printer_works' %}">Топографик материалларни чоп етиш</a></li>
                                <li class="breadcrumb-item" ><a href="{% url 'open_to_print' id=workerobject.object.id %}">{{ workerobject.object.pdowork.object_name }}</a></li>
                            </ol>

                        </div>

                        <div class="col-sm-6 text-end">
                            {% if sum %}
                                <button  class="btn btn-danger"  data-bs-toggle="modal" data-bs-target="#exampleModal1"><i class="fa fa-refresh"></i>
                                    Рад этилишлар сони
                                     <span class="badge rounded-pill bg-white">
                                        <b class="text-danger">{{ sum }}</b>
                                     </span>

                                </button>
                            {% endif %}
                            <button  class="btn btn-primary"  data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="icofont icofont-maximize"></i>
                                Буюртма ҳақида маълумот
                            </button>
                        </div>



                    </div>
                </div>
            </div>

            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-12 col-md-12 box-col-12">
                        <div class="file-content">
                            <div class="card">
                                <div class="card-body file-manager ">
                                    <h4 class="m-b-20 m-t-20">Муҳандислик тармоқлари сиёмкаси бўйича бош геодезис назорати</h4>
                                    <div class="row m-b-30">
                                        <div class="col-lg-12">
                                            <div id="map"></div>
                                            <br>
                                        </div>
                                    </div>
                                    <ul class="files ">
                                        <li class="file-box ">
                                            <div class="file-top"><i class="fa fa-file-pdf-o f-36 txt-primary"></i></div>
                                            <div class="file-bottom">
                                                <h6>1. Скрыть изм-ные данные</h6>
                                                <p>Ознакомиться с файлом отправки</p>
                                                <button data-bs-toggle="modal" data-bs-target=".bd-example-modal-lg" class="btn btn-primary w-100 m-t-10">Кўриш</button>
                                            </div>
                                        </li>
                                        <li class="file-box ">
                                            <div class="file-top"><i class="fa fa-file-pdf-o txt-primary"></i></div>
                                            <div class="file-bottom">
                                                <h6>2. Абрис</h6>
                                                <p>Ознакомиться с файлом отправки</p>
                                                <button class="btn btn-primary w-100 m-t-10"><a href="/{{ workerobject.abris_file }}" target="_blank" class="text-white">Кўриш</a></button>
                                            </div>
                                        </li>
                                        <li class="file-box ">
                                            <div class="file-top"><i class="fa fa-file-pdf-o f-36 txt-primary"></i></div>
                                            <div class="file-bottom">
                                                <h6>3. Кроки</h6>
                                                <p>Ознакомиться с файлом отправки</p>
                                                <button class="btn btn-primary w-100 m-t-10"><a href="/{{ workerobject.kroki_file }}" target="_blank" class="text-white">Кўриш</a></button>
                                            </div>
                                        </li>
                                        <li class="file-box ">
                                            <div class="file-top"><i class="fa fa-file-pdf-o f-36 txt-primary"></i></div>
                                            <div class="file-bottom">
                                                <h6>4. Эксплуатация колодцев</h6>
                                                <p>Ознакомиться с файлом отправки</p>
                                                <button class="btn btn-primary w-100 m-t-10"><a href="/{{ workerobject.jurnal_file }}" target="_blank" class="text-white">Кўриш</a></button>
                                            </div>
                                        </li>
                                        <li class="file-box m-t-5">
                                            <div class="file-top"><i class="fa fa-file-pdf-o f-36 txt-primary"></i>
                                            </div>
                                            <div class="file-bottom">
                                                <h6>5. Ж эксплуатация колодцев</h6>
                                                <p>Ознакомиться с файлом отправки</p>
                                                <button class="btn btn-primary w-100 m-t-10"><a href="/{{ workerobject.vidimes_file }}" target="_blank" class="text-white">Кўриш</a></button>
                                            </div>
                                        </li>
                                        <li class="file-box m-t-5">
                                            <div class="file-top"><i class="fa fa-file-pdf-o f-36 txt-primary"></i>
                                            </div>
                                            <div class="file-bottom ">
                                                <h6>6. Лист эксплуатирующими </h6>
                                                <p>Ознакомиться с файлом отправки</p>
                                                <button class="btn btn-primary w-100 m-t-10"><a href="/{{ workerobject.list_agreement_file }}" target="_blank" class="text-white">Кўриш</a></button>
                                            </div>
                                        </li>

                                        <li class="file-box m-t-5">
                                            <div class="file-top"><i class="fa fa-file-pdf-o txt-primary"></i></div>
                                            <div class="file-bottom ">
                                                <h6>7. Предписание </h6>
                                                <p>Ознакомиться с файлом отправки</p>
                                                <button class="btn btn-primary w-100 m-t-10"><a href="#" target="_blank" class="file text-white" data-id="{{ workerobject.object.id }}">Кўриш</a></button>
                                            </div>
                                        </li>

                                        {% if programwork %}
                                            {% if programwork.status == 4 %}
                                            <li class="file-box m-t-5">
                                                <div class="file-top"><i class="fa fa-file-pdf-o txt-primary"></i></div>
                                                <div class="file-bottom ">
                                                    <h6>8. Топографик-геодезик дастури </h6>
                                                    <p>Ознакомиться с файлом отправки</p>
                                                    <button class="btn btn-primary w-100 m-t-10"><a href="#" id="doing_program_work_file" programwork-id="{{ programwork.id }}" class="text-white"> Кўриш</a></button>
                                                </div>
                                            </li>
                                        {% endif %}
                                    {% endif %}


                                        <li class="file-box m-t-5">
                                            <div class="file-top"><i class="fa fa-file-pdf-o txt-primary"></i></div>
                                            <div class="file-bottom ">
                                                <h6>8. Пояснительная записка</h6>
                                                <p>Ознакомиться с файлом отправки</p>
                                                <button class="btn btn-primary w-100 m-t-10"><a href="#" target="_blank" class="text-white" id="doing_poyasitelniy_file" object-id="{{ workerobject.object.id }}">Кўриш</a></button>
                                            </div>
                                        </li>

                                        <li class="file-box m-t-5">
                                            <div class="file-top"><i class="fa fa-file-pdf-o txt-primary"></i></div>
                                            <div class="file-bottom ">
                                                <h6>9. АКТ дала назорати текшируви</h6>
                                                <p>Ознакомиться с файлом отправки</p>
                                <button class="btn btn-primary w-100 m-t-10"><a href="#" target="_blank" class="text-white" id="doing_akt_polevoy_file" akt-object-id="{{ workerobject.object.id }}">Кўриш</a></button>

                                            </div>
                                        </li>
                                        <li class="file-box m-t-5">
                                            <div class="file-top"><i class="fa fa-file-pdf-o txt-primary"></i></div>
                                            <div class="file-bottom ">
                                                <h6>10 АКТ комерал назорат далолатномаси</h6>
                                                <p>Ознакомиться с файлом отправки</p>
                                                <button class="btn btn-primary w-100 m-t-10"><a href="#" id="doing_akt_komeral_file" akt-object-id="{{ workerobject.object.id }}" class="text-white"> Кўриш</a></button>
                                            </div>
                                        </li>


                                    </ul>

{#                                    <ul class="folder ">#}
{#                                        <li class="folder-box m-t-5">#}
{#                                            <h6>8. Время проверить</h6>#}
{#                                            <div class="media align-items-center"><i#}
{#                                                    class="fa fa-clock-o f-36 txt-danger"></i>#}
{#                                                <div class="media-body ms-3">#}
{#                                                    <p style="font-size: 14px; color: #999999" class="m-0"><span style="font-size: 20px; color: #168eea">16</span>/01/2022</p>#}
{#                                                </div>#}
{#                                            </div>#}
{#                                        </li>#}
{#                                    </ul>#}
                                    <hr>
{#                                    <div class="card">#}


                                    <hr>
                                    <br>
                                    <br>
                                    <div class="row p-r-40">


                                            <div class="col-md-12 card p-2 shadow-lg">
                                                <button class="btn btn-success btn-lg"  type="button" worker="{{ user.profile.full_name }}" work-id="{{ workerobject.object.id }}"  id="confirm_print2"  style="width: 100%"> <i class="fa fa-print"></i>
                                                   Топографик материалларни чоп етиш
                                                </button>
                                            </div>

                                    <input type="text" name="work_id" id="work_id" value="{{ workerobject.object.id }}" style="display: none">
                                    <input type="text" name="worker" id="worker" value="{{ user.profile.full_name }}" style="display: none">

                                        {% csrf_token %}

                                        <div class="btn-foot m-t-50 m-b-40 d-flex align-items-center">
{#                                            <button class="btn btn-outline-danger m-r-20" data-bs-toggle="modal"#}
{#                                                    data-bs-target="#exampleModalCenter">Қайтариш#}
{#                                            </button>#}
{#                                            <button id="bootstrap-notify-gen-btn" class="btn btn-outline-success">#}
{#                                                Камерал назоратга юбориш#}
{#                                            </button>#}
                                            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
                                                 aria-labelledby="exampleModalCenter" aria-hidden="true">
                                                <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header bg-danger">
                                                            <h5 style="color: white;" class="modal-title">Хатолик
                                                                хабарини тасдиқлаш</h5>
                                                            <div type="button" data-bs-dismiss="modal"
                                                                 aria-label="Close">x
                                                            </div>
                                                        </div>
                                                        <div class="modal-body">
                                                            <ul class="messages text text-center text-danger" id="error_show" style="display:none">
                                                               <div class="alert alert-danger">
                                                                   <li style="font-size:14px" class="text text-white" ><b> Maydonlarni to'ldiring !</b></li>
                                                               </div>
                                                           </ul>
                                                            <br>
                                                            <h5 class="m-b-20">Хатолик аризаси файли</h5>
                                                            <input class="form-control" id="reason_file" name="reason_file" type="file">
                                                            <h5 class="m-t-20 m-b-20">Хатолик аризаси матни</h5>
                                                            <textarea type="text" class="form-control" id="reason" name="reason" rows="6"></textarea>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button  class="btn btn-outline-danger" id="geodezis_deny_komeral" type="button">Юбориш</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>

                </div>


            </div>
        </div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script type="text/javascript">
    $(document).on('click',".file",function(){
        var data = new FormData();
        data.append("csrfmiddlewaretoken", document.getElementsByName("csrfmiddlewaretoken")[0].value);
        data.append("data-id", $(this).attr('data-id'));
        {#alert($(this).attr('data-id'));#}
        event.preventDefault()
        $.ajax({
            type: 'POST',
            url: '{% url 'order_to_pdf' %}',
            data: data,
            cache: false,
            contentType: false,
            processData: false,

            success: function (result){
                window.open('/static/files/file.pdf','_blank');
{#                var link = document.createElement('a');#}
{#                link.href = "/static/files/file.pdf";#}
{#                link.download = "file_" + new Date() + ".pdf";#}
{#                link.click();#}
{#                link.remove();#}
            },

            error: function(){
              alert('Serverga yubara olmaymiz !! ');
            }

        });

    });
</script>
                        <script type="text/javascript">
    $(document).on('click',"#doing_akt_polevoy_file",function(){
        var data = new FormData();
        data.append("csrfmiddlewaretoken", document.getElementsByName("csrfmiddlewaretoken")[0].value);
         data.append("object-id", $(this).attr('akt-object-id'));

        event.preventDefault()
        $.ajax({
            type: 'POST',
            url: '{% url 'doing_akt_polevoy_file' %}',
            data: data,
            cache: false,
            contentType: false,
            processData: false,

            success: function (result){
                window.open('/static/files/akt_polevoy/akt-polevoy.pdf','_blank');
{#                var link = document.createElement('a');#}
{#                link.href = "/static/files/file.pdf";#}
{#                link.download = "file_" + new Date() + ".pdf";#}
{#                link.click();#}
{#                link.remove();#}
            },

            error: function(){
              alert('Serverga yubara olmaymiz !! ');
            }

        });

    });
</script>
                        <script type="text/javascript">
    $(document).on('click',"#doing_akt_komeral_file",function(){
        var data = new FormData();
        data.append("csrfmiddlewaretoken", document.getElementsByName("csrfmiddlewaretoken")[0].value);
         data.append("data-id", $(this).attr('akt-object-id'));

        event.preventDefault()
        $.ajax({
            type: 'POST',
            url: '{% url 'doing_akt_komeral_file' %}',
            data: data,
            cache: false,
            contentType: false,
            processData: false,

            success: function (result){
                window.open('/static/files/akt-komeral/akt_komeral.pdf','_blank');
{#                var link = document.createElement('a');#}
{#                link.href = "/static/files/file.pdf";#}
{#                link.download = "file_" + new Date() + ".pdf";#}
{#                link.click();#}
{#                link.remove();#}
            },

            error: function(){
              alert('Serverga yubara olmaymiz !! ');
            }

        });

    });
</script>

    <script type="text/javascript">
    $(document).on('click',"#doing_poyasitelniy_file",function(){
        var data = new FormData();
        data.append("csrfmiddlewaretoken", document.getElementsByName("csrfmiddlewaretoken")[0].value);
         data.append("object-id", $(this).attr('object-id'));

        event.preventDefault()
        $.ajax({
            type: 'POST',
            url: '{% url 'doing_poyasitelniy_file' %}',
            data: data,
            cache: false,
            contentType: false,
            processData: false,

            success: function (result){
                window.open('/static/files/poyasitelniy/poyasitelniy.pdf','_blank');
{#                var link = document.createElement('a');#}
{#                link.href = "/static/files/file.pdf";#}
{#                link.download = "file_" + new Date() + ".pdf";#}
{#                link.click();#}
{#                link.remove();#}
            },

            error: function(){
              alert('Serverga yubara olmaymiz !! ');
            }

        });

    });
</script>
        <script>
    $(document).ready(function(){
    var data = new FormData();
    data.append("csrfmiddlewaretoken", document.getElementsByName("csrfmiddlewaretoken")[0].value);
    data.append('id',{{ pdowork.id }});

        $.ajax({
            url: '/obj_data',
            data: data,
            cache: false,
            contentType: false,
            processData: false,
            type: 'post',
            success: function (result) {
                    json_point=JSON.parse(result.data1);
                    console.log(json_point.features);
                    if (json_point.features[0].geometry!=null){
                        json_point.features[0].geometry.coordinates.forEach(function(corr,i){
                             var point={type:'Point',coordinates:corr};
                            L.geoJson(point,{ onEachFeature:function(features,layer){drawnItems.addLayer(layer); }
                            });
                        });
                    }

                    json_line=JSON.parse(result.data2);
                    if (json_line.features[0].geometry!=null){
                    json_line.features[0].geometry.coordinates.forEach(function(corr,i){
                    var polyline={type:'LineString',coordinates:corr};
                    L.geoJson(polyline,{ onEachFeature:function(features,layer){drawnItems.addLayer(layer); }
                    });
                    });
                }


                    json_polygon=JSON.parse(result.data3);
                    if (json_polygon.features[0].geometry!=null){
                    json_polygon.features[0].geometry.coordinates.forEach(function(corr,i){
                    var polygon={type:'Polygon',coordinates:corr};
                    L.geoJson(polygon,{ onEachFeature:function(features,layer){drawnItems.addLayer(layer); }
                    });
                    });
                }
            },
            error: function(){
              console.log('xatolik')
            }

    });
    });
    </script>

<script>
    $("#confirm_print2").click(function(event) {
        var data = new FormData();
        data.append("csrfmiddlewaretoken", document.getElementsByName("csrfmiddlewaretoken")[0].value);
        data.append("worker", $('#worker').val());
        data.append("work_id", $('#work_id').val());
        event.preventDefault();
         $.ajax({
            type: 'POST',
            url: '{% url 'confirm_print2' %}',
            data: data,
            cache: false,
            contentType: false,
            processData: false,
            success: function (result){
               location.replace('/ogogd_printer_works');
            },

            error: function(){
              alert('Ajax da xatolik !! ');
            }
        });

        });
</script>


    <script>
    function dropdown() {
        document.getElementById("root").style.display="block";
    }
    setTimeout(() => {
        if (document.getElementById('root') !== null) {
            document.getElementById("root").style.display = "none";
        }
    }, 1000)
</script>

{% endblock %}

{% block scriptcontent %}


    <script src="{% static 'assets/js/dropzone/dropzone.js' %}"></script>
    <script src="{% static 'assets/js/dropzone/dropzone-script.js' %}"></script>
    <script src="{% static 'assets/js/notify/bootstrap-notify.min.js' %}"></script>
    <script src="{% static 'assets/js/notify/notify-script.js' %}"></script>
    <script src="{% static 'assets/js/datepicker/date-time-picker/moment.min.js' %}"></script>
    <script src="{% static 'assets/js/datepicker/date-time-picker/tempusdominus-bootstrap-4.min.js' %}"></script>
    <script src="{% static 'assets/js/datepicker/date-time-picker/datetimepicker.custom.js' %}"></script>
    <script src="{% static 'assets/js/boottable.js' %}"></script>
{% endblock scriptcontent %}

