{% extends 'master.html' %}
{% load static %}
{% block title %} Новые задания  {% endblock %}
{% block stylecontent %}


{% endblock stylecontent %}

{% block content%}



        <div class="page-body">
            <div class="container-fluid">
                <div class="page-header">
                    <div class="row">
                        <div class="col-sm-12">
                            <h3>Новые задания</h3>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="container-fluid blog-page">
                <div class="row">
                     {% if not works %}
                        <div class="col-sm-12">
                             <div class="card text-center p-4 bg-images text-warning">
                                 <h4>Нет нового задания</h4>
                            </div>
                        </div>

                    {% endif %}


                    {% for work in works %}
                    <div class="col-sm-6 col-xl-4 box-col-6 des-xl-50 mb-4">
                            <div class="card ribbon-wrapper p-0 m-0">
                                <div class="ribbon ribbon-right ribbon-color_one"><i class="fa fa-check" title="Ishchi qabul qilmagan ish"></i></div>
                                <div class="blog-box blog-grid">
                                    <div class="blog-details-second">
                                        <div class="blog-post-date"><span class="blg-month">день</span><span
                                                class="blg-date">{{ work.object.pdowork.work_term }}</span></div>
                                            <h6 class="blog-bottom-details">{{ work.object.pdowork.object_name }}</h6>
                                        <div><b>Заказчик:</b> {{ object.object.pdowork.customer }}</div>
                                        <div><b>Дата заключения договора:</b> {{ object.object.pdowork.agreement_date }}</div>
                                        <div><b>Адрес объекта:</b> {{ object.object.pdowork.object_address }}</div>
                                        <div class="text-center p-2">
                                        </div>
                                        <div class="detail-footer">
                                            <a href="{% url 'open_to_print' id=work.object.id %}">
                                                <button class="btn btn-square btn-primary w-100">
                                                    Просмотр Работы
                                                </button>
                                            </a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}


                </div>
            </div>
        </div>

        {% endblock %}