
{% extends 'master.html' %}

{% load static %}
{% block title %} Топографик-Геодезик Дастури {% endblock %}
{% block content%}

{% block stylecontent %}
<style>
    .banner-image{
        background-image: url({% static 'assets/images/shap4.png' %});
        background-position: left;
        background-repeat: no-repeat;
    }
</style>
{% endblock stylecontent %}

    <div class="modal fade modal-bookmark" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h5 class="modal-title" id="exampleModalLabel">Буюртма ҳақида маълумот</h5>
                <div data-bs-dismiss="modal" aria-label="Close">X</div>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="mb-2">
                            <b>Шартнома рақами<sup style="color: red;">*</sup></b>
                            <p>525616161</p>
                        </div>
                        <div class="mb-2">
                            <b>Шартнома санаси</b>
                            <p>11/11/2022</p>
                        </div>
                        <div class="mb-2">
                            <b>Обект номи<sup style="color: red;">*</sup></b>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt </p>
                        </div>
                        <div class="mb-2">
                            <b>Буюрмачи</b>
                            <p>Комилов Сардорбек Шуҳрат</p>
                        </div>
                        <div class="mb-2">
                            <b>Обект манзили<sup style="color: red;">*</sup></b>
                            <p>Тошкент шаҳар Чилонзор тумани 120</p>
                        </div>
                    </div>
                    <div class="col-lg-6 text-end">
                        <div class="mb-2">
                            <b>Бажариш муддати<sup style="color: red;">*</sup></b>
                            <p>15/01/2022</p>
                        </div>
                        <div class="mb-2">
                            <b>Буюртмачи маълумотлари<sup style="color: red;">*</sup></b>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                        </div>
                        <div class="mb-2">
                            <b>Иш тури<sup style="color: red;">*</sup></b>
                            <p>Topografik syomka</p>
                        </div>
                        <div class="mb-2">
                            <b>Нархи<sup style="color: red;">*</sup></b>
                            <p>4 800 000 сўм</p>
                        </div>
                        <div class="mb-2">
                            <b>Маъсул бажарувчи бўлим<sup style="color: red;">*</sup></b>
                            <p>ОПГ</p>
                        </div>
                    </div>
                </div>
                <ul class="folder">
                    <li class="folder-box">
                        <a class="f-16 f-w-500" download href=""><i class="fa fa-file-pdf-o f-20 txt-dark"></i> Буюрта хати билан танишиш</a>
                    </li>
                    <li class="folder-box m-b-5 m-t-5">
                        <a class="f-16 f-w-500" download href=""><i class="fa fa-file-pdf-o f-20 txt-dark"></i> Техник топшириқ файли билан танишиш</a>
                    </li>
                    <li class="folder-box">
                        <a class="f-16 f-w-500" download href=""><i class="fa fa-file-pdf-o f-20 txt-dark"></i> Смета файли билан танишиш</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

        <div class="page-body">
            <div class="container-fluid">
                <div class="page-header">
                    <div class="row">
                        <div class="col-sm-6">
                            <h3>Ишчи дастур холати</h3>
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="../starter-kit/index.html"><i class="fa fa-home f-20"></i></a></li>
                                <li class="breadcrumb-item">Ишчи дастур холати</li>
                            </ol>
                        </div>
                        <div class="col-sm-6">
                            <div class="float-lg-end">
                                <button  class="btn btn-primary"  data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="icofont icofont-maximize"></i>
                                    Буюртма ҳақида маълумот
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card banner-image">
                            <div class="card-body">
                                <!-- cd-timeline Start-->
                                <section class="cd-container" id="cd-timeline">
                                    <div class="cd-timeline-block">
                                        <div class="cd-timeline-img cd-picture bg-warning"><i class="icon-pencil-alt"></i></div>
                                        <div class="cd-timeline-content">
                                          <div class="user"><span data-feather="user"></span> Каримов Aбдусалим</div>
                                          <div class="user"><span data-feather="file"></span> Иш дастури файли</div>
                                          <div class="user"><span data-feather="upload"></span> Текширувга юборилди</div>
                                            <br>
                                            <p>Ишчи дастур файли шакллантирилиб текширувга юборилган</p>
{#                                            <button class="btn btn-outline-primary" type="button"><a href="../starter-kit/topagforma.html">Кўриш</a></button>#}
                                            <span class="cd-date">Jan <span style="font-size: 30px;color: #168eea" class="counter digits">18</span></span>
                                        </div>
                                    </div>
                                    <div class="cd-timeline-block">
                                        <div class="cd-timeline-img cd-picture bg-danger"><i class="icon-pencil-alt"></i></div>
                                        <div class="cd-timeline-content">
                                            <div class="user"><span data-feather="user"></span> Номонов Султон</div>
                                            <div class="user"><span data-feather="file"></span> Иш дастури файли</div>
                                            <div style="color: red" class="user"> Рад етилди</div>
                                            <div style="color: red" class="user"> Далолатнома (салбий)</div>
                                            <br>
                                            <p>Ишчи дастур текширилди ва қайта текширувга қайтарилди.
                                                Сабаби йетарлича маълумот берилмаган</p>
{#                                            <button class="btn btn-outline-primary" type="button">Кўриш</button>#}
                                            <span class="cd-date">Jan <span style="font-size: 30px;color: #168eea" class="counter digits">24</span></span>
                                        </div>
                                    </div>
                                    <div class="cd-timeline-block">
                                        <div class="cd-timeline-img cd-picture bg-warning"><i class="icon-pencil-alt"></i></div>
                                        <div class="cd-timeline-content">
                                            <div class="user"><span data-feather="user"></span> Каримов Aбдусалим</div>
                                            <div class="user"><span data-feather="file"></span> Иш дастури файли 1</div>
                                            <div class="user"><span data-feather="file"></span> Иш дастури файли 2</div>
                                            <div class="user"><span data-feather="upload"></span> Текширувга юборилди</div>
                                            <br>
                                            <p>Ишчи дастур файли шакллантирилиб текширувга юборилган</p>
{#                                            <button class="btn btn-outline-primary" type="button">Кўриш</button>#}
                                            <span class="cd-date">Jan <span style="font-size: 30px;color: #168eea" class="counter digits">27</span></span>
                                        </div>
                                    </div>
                                    <div class="cd-timeline-block">
                                        <div class="cd-timeline-img cd-picture bg-success"><i class="icon-pencil-alt"></i></div>
                                        <div class="cd-timeline-content">
                                            <div class="user"><span data-feather="user"></span> Номонов Султон</div>
                                            <div class="user"><span data-feather="file"></span> Иш дастури файли</div>
                                            <div style="color: #1b4c43;" class="user"> Тасдиқланди</div>
                                            <div style="color: #1b4c43;" class="user"> Далолатнома (ижобий)</div>
                                            <br>
                                            <p>Ишчи дастур текширилди ва қайта текширувга қайтарилди.
                                                Сабаби йетарлича маълумот берилмаган</p>
{#                                            <button class="btn btn-outline-primary" type="button">Кўриш</button>#}
                                            <span class="cd-date">Jan <span style="font-size: 30px;color: #168eea" class="counter digits">30</span></span>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% endblock %}
{#<script src="{% static 'assets/js/prism/prism.min.js' %}"></script>#}
{#<script src="{% static 'assets/js/clipboard/clipboard.min.js' %}"></script>#}
{#<script src="{% static 'assets/js/custom-card/custom-card.js' %}"></script>#}
{#<script src="{% static 'assets/js/tooltip-init.js' %}"></script>#}
