<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        li{
            padding: 5px;
        }
    </style>
</head>
<body>

<div style="">
    <h2 style="text-align: center;margin-top: 55px">ПРЕДПИСАНИЕ на выполнение топографо-геодезических работ</h2>
<br>
<ol>
    <li>Должность, Ф.И.О. исполнителя </li>
    <li>Наименование объекта </li>
    <li>Местоположение объекта </li>
    <li>Заказчик </li>
    <li>Виды и объемы работ </li>
    <li>Сроки выполнения работ </li>
    <li>Исходные данные, система координат и высот, использование материалов работ прошлых лет </li>
    <li>Метод создания геодезического и (или) съемочного обоснования, закрепление пунктов, точек </li>
    <li>Метод создания геодезического и (или) съемочного обоснования, закрепление пунктов, точекМетод выполнения топографической съемки. Технические требования и технология выполнения работ </li>
    <li>Съемка инженерно-подземных коммуникаций</li>
    <li>Особые требования</li>
    <li>Поверки геодезических инструментов</li>
    <li>Методы и программы уравнивания</li>
    <li>Перечень предоставляемых материалов</li>
    <li>Приложение
        <ol>
            <li>Копия технического задания;</li>
        <li>Графическое приложение.</li>
    </ol>
    </li>
    <p>Предписание составил: </p>
</ol>
</div>

</body>
</html>