{% extends 'master.html' %}

{% load static %}
{% block title %} Ишни бошлаб {% endblock %}
{% block content%}

{% block stylecontent %}

{% endblock stylecontent %}
{% load l10n %}
    {% load humanize %}

  <div class="modal fade modal-bookmark" id="exampleModal"
                                                             tabindex="-1" aria-labelledby="exampleModalLabel"
                                                             style="display: none;" aria-hidden="true">
                                                            <div class="modal-dialog modal-lg" role="document">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <h5 class="modal-title" id="exampleModalLabel">
                                                                            Буюртма ҳақида маълумот</h5>
                                                                        <button class="btn-close" type="button"
                                                                                data-bs-dismiss="modal"
                                                                                aria-label="Close"></button>
                                                                    </div>
                                                                    <div class="modal-body">
                                                                        <div class="row">
                                                                            <div class="col-lg-6">
                                                                                <div class="mb-2">
                                                                                    <b>Шартнома рақами<sup
                                                                                            style="color: red;">*</sup></b>
                                                                                    <p>{{ pdowork.object_number }}</p>
                                                                                </div>
                                                                                <div class="mb-2">
                                                                                    <b>Шартнома санаси</b>
                                                                                    <p>{{ pdowork.agreement_date }}</p>
                                                                                </div>
                                                                                <div class="mb-2">
                                                                                    <b>Объект  номи<sup
                                                                                            style="color: red;">*</sup></b>
                                                                                    <p>{{ pdowork.object_name }} </p>
                                                                                </div>
                                                                                <div class="mb-2">
                                                                                    <b>Буюртмачи</b>
                                                                                    <p>{{ pdowork.customer }}</p>
                                                                                </div>
                                                                                <div class="mb-2">
                                                                                    <b>Объект манзили<sup
                                                                                            style="color: red;">*</sup></b>
                                                                                    <p>{{ pdowork.object_address }}</p>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-lg-6 text-end">
                                                                                <div class="mb-2">
                                                                                    <b>Бажариш муддати<sup
                                                                                            style="color: red;">*</sup></b>
                                                                                    <p>{{ pdowork.work_term }} kun</p>
                                                                                </div>
                                                                                <div class="mb-2">
                                                                                    <b>Буюртмачи реквизитлари<sup
                                                                                            style="color: red;">*</sup></b>
                                                                                    <p>{{ pdowork.customer_info }}</p>
                                                                                </div>
                                                                                <div class="mb-2">
                                                                                    <b>Иш тури<sup
                                                                                            style="color: red;">*</sup></b>
                                                                                    <p>{{ pdowork.work_type }}</p>
                                                                                </div>
                                                                                <div class="mb-2">
                                                                                    <b>Шартнома суммаси<sup
                                                                                            style="color: red;">*</sup></b>
                                                                                    <p>

                                                                                           {{ cost|intcomma }}

                                                                                    </p>
                                                                                </div>
                                                                                <div class="mb-2">
                                                                                    <b>Маъсул бажарувчи бўлим<sup
                                                                                            style="color: red;">*</sup></b>
                                                                                    <p>{{ pdowork.department }}</p>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <ul class="folder">
                                                                            <li class="folder-box">
                                                                                <div class="media"><i
                                                                                        class="fa fa-file-archive-o f-36 txt-warning"></i>
                                                                                    <div class="media-body ">
                                                                                        <h6 class="">
                                                                                            <a href="/{{ pdowork.latter }}" target="_blank">
                                                                                                Буюртма хати билан танишиш
                                                                                            </a></h6>
                                                                                    </div>
                                                                                </div>
                                                                            </li>
                                                                            <li class="folder-box">
                                                                                <div class="media"><i
                                                                                        class="fa fa-folder f-36 txt-warning"></i>
                                                                                    <div class="media-body ">
                                                                                        <h6 class="">
                                                                                            <a href="/{{ pdowork.tz }}" target="_blank">Техник топшириқ
                                                                                             билан танишиш</a></h6>
                                                                                    </div>
                                                                                </div>
                                                                            </li>
                                                                            <li class="folder-box">
                                                                                <div class="media"><i
                                                                                        class="fa fa-file-archive-o f-36 txt-warning" ></i>
                                                                                    <div class="media-body ">
                                                                                        <h6 class="">
                                                                                            <a href="/{{ pdowork.smeta }}" target="_blank">Смета
                                                                                            билан танишиш</a></h6>
                                                                                    </div>
                                                                                </div>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
        <div class="page-body">

             <div class="container-fluid">
                <div class="page-header">
                    <div class="row">
                        <div class="col-sm-8">
                            <h3>Обйект ҳақида маълумот</h3>
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="{% url 'index' %}">Бош саҳифа</a></li>
                                <li class="breadcrumb-item"><a href="{% url 'pdoworks' %}">Янги шартномалар</a></li>
                                <li class="breadcrumb-item active">{{ pdowork.object_name }}</li>
                            </ol>
                        </div>

                        <div class="col-sm-4 text-end">
                            <button class="btn btn-primary"
                                    data-bs-toggle="modal" data-bs-target="#exampleModal"><i
                                    class="icofont icofont-maximize"></i>
                                Буюртма ҳақида маълумот
                            </button>
                        </div>
                    </div>
                </div>
            </div>

{#            <div class="container-fluid">#}
{#                <div class="page-header">#}
{#                    <div class="row">#}
{#                        <div class="col-sm-12">#}
{#                            <h3>Обйект ҳақида маълумот</h3>#}
{#                            <ol class="breadcrumb">#}
{#                                <li class="breadcrumb-item"><a href="../starter-kit/index.html">Бош саҳифа</a></li>#}
{#                                <li class="breadcrumb-item">Янги шартномалар</li>#}
{#                                <li class="breadcrumb-item active">{{ pdowork.object_name }}</li>#}
{#                            </ol>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}


            <div class="container-fluid">
                <div class="email-wrap bookmark-wrap">
                    <div class="row">


                        <div class="col-xl-3 xl-30">
                            <div class="email-sidebar"><a class="btn btn-primary email-aside-toggle"
                                                          href="javascript:void(0)">Ишни бажариш тури</a>
                                <div class="email-left-aside">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="email-app-sidebar left-bookmark">
                                                <ul class="nav main-menu" role="tablist">
                                                    <li class="nav-item" ><span
                                                            class="main-title txt-dark">Ишни бажариш тури</span></li>
                                                    <li><a class="active" id="pills-created-tab"
                                                           data-bs-toggle="pill" href="#pills-created" role="tab"
                                                           aria-controls="pills-created" aria-selected="true"><span
                                                            class="title">Тизим ёрдамида</span></a></li>
                                                    <li><a id="pills-favourites-tab" data-bs-toggle="pill"
                                                           href="#pills-favourites" role="tab"
                                                           aria-controls="pills-favourites" aria-selected="false"><span
                                                            class="title active show">Aнанавий усулда</span></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-9 col-md-12 box-col-8 xl-70">
                            <div class="email-right-aside bookmark-tabcontent">
                                <div class="card email-body radius-left">
                                    <div class="ps-0">
                                        <div class="tab-content">
                                            <div class="tab-pane fade active show" id="pills-created" role="tabpanel"
                                                 aria-labelledby="pills-created-tab">
                                                <div class="ribbon-wrapper card  mb-0">
                                                    <div class="card-body p-0">
                                                        <div class="ribbon ribbon-bookmark ribbon-primary"
                                                             style="font-size: 20px;font-weight: 500;">Тизим ёрдамида
                                                        </div>


                                                            <form action="{% url 'save_order' %}" method="post" enctype="multipart/form-data">
                                                            {% csrf_token %}
                                                            <div class="details-bookmark">
                                                            <div class="row" id="bookmarkData">
                                                                <div class="card-body">
                                                                    <div class="row">
                                                                        <div class="col-lg-6">
                                                                            <h5>Ишчи дастур ва хисобот
                                                                                шакллантирилади<sup
                                                                                        style="color: red">*</sup></h5>
                                                                            <div class="form-group m-t-15 custom-radio-ml">

                                                                                <div class="radio radio-primary">
                                                                                    <input id="radio1" type="radio" name="isset_programwork" value="True" {% if object.isset_programwork == True %}checked{% endif %}>
                                                                                    <label for="radio1"><span class="digits">Ҳа</span></label>
                                                                                </div>

                                                                                <div class="radio radio-primary">
                                                                                    <input id="radio4" type="radio" name="isset_programwork" value="False" {% if object.isset_programwork == False %}checked{% endif %}>
                                                                                    <label for="radio4">Йўқ</label>
                                                                                </div>

                                                                            </div>

                                                                            <input type="text" id="isset_programwork" value="False" style="display:none;" name="is_programwork">

                                                                        </div>
                                                                        <div class="col-lg-6">
                                                                            <div class="mb-4">
                                                                                <h5>Мазкур ишни бажариш учун маъсул
                                                                                    жавобгар шахс<sup
                                                                                            style="color: red">*</sup>
                                                                                </h5>
{#                                                                                Bajaruvchi: {{ object.worker_ispolnitel }}#}
                                                                                <select class="js-example-placeholder-multiple col-sm-12" name="worker_ispolnitel" id="worker_ispolnitel">
                                                                                    <option value="">-- --</option>
                                                                                    {% for worker in workers %}
                                                                                         <option value="{{ worker.full_name }}" {% if worker.full_name == object.worker_ispolnitel %}selected{% endif  %}> {{ worker.full_name }} </option>
                                                                                    {% endfor %}
                                                                                </select>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col">
                                                                            <h5 class="mb-4 text-center fontbold-700">
                                                                                Топографик-геодезик ишларни бажариш учун
                                                                                кўрсатма шакллантириш</h5>
                                                                            <div class="mb-3 row">
                                                                                <label class="col-sm-4 col-form-label">
                                                                                    <b>1. </b>Должность, Ф.И.О. исполнителя
                                                                                </label>
                                                                                <div class="col-sm-8">
                                                                                    <input class="form-control fio" type="text" id="fio" name="fio" value="{{ pdowork.customer_info }}">
                                                                                </div>
                                                                            </div>
                                                                            <div class="row mb-3">
                                                                                <label class="col-sm-4 col-form-label">
                                                                                    <b>2. </b>Наименование объекта
                                                                                </label>
                                                                                <div class="col-sm-8">
                                                                                    <input class="form-control"
                                                                                           type="text"  value="{{ pdowork.object_name }}">
                                                                                </div>
                                                                            </div>
                                                                            <div class="mb-3 row">
                                                                                <label class="col-sm-4 col-form-label">
                                                                                    <b>3. </b>Местоположение
                                                                                    объекта</label>
                                                                                <div class="col-sm-8">
                                                                                    <input class="form-control"
                                                                                           type="text"
                                                                                           value="{{ pdowork.object_address}}">
                                                                                </div>
                                                                            </div>
                                                                            <div class="mb-3 row">
                                                                                <label class="col-sm-4 col-form-label"><b>4. </b>Заказчик</label>
                                                                                <div class="col-sm-8">
                                                                                    <input class="form-control"
                                                                                           type="text"
                                                                                           value="{{ pdowork.customer }}">
                                                                                </div>
                                                                            </div>
                                                                            <div class="mb-3 row">
                                                                                <label class="col-sm-4 col-form-label">
                                                                                    <b>5. </b>Виды работ</label>
                                                                                <div class="col-sm-8">
                                                                                    <input class="form-control"
                                                                                           type="text"
                                                                                           value="{{ pdowork.work_type }}">
                                                                                </div>
                                                                            </div>
                                                                            <div class="mb-3 row">
                                                                                <label class="col-sm-4 col-form-label">
                                                                                    <b>6. </b>Сроки выполнения работ</label>
                                                                                <div class="col-sm-8">
                                                                                    <input class="form-control digits"
                                                                                           id="example-datetime-local-input"
                                                                                           type="text"
                                                                                           value="{{ pdowork.work_term }} kun">
                                                                                </div>
                                                                            </div>

{#                                                                            fields#}
                                                                            <div class="row mb-3">
                                                                                <label class="col-sm-4 col-form-label">
                                                                                    <b>7. </b>объемы работ <sup class="text-danger" style="font-size: 14px">*</sup>
                                                                                </label>
                                                                                <div class="col-sm-8">
                                                                                    <textarea name="size" id="size" required style="height: 100px;"
                                                                                              class="form-control">{{ order.size }}</textarea>
                                                                                </div>
                                                                            </div>

                                                                            <div class="row mb-3">
                                                                                <label class="col-sm-4 col-form-label">
                                                                                    <b>8. </b>Исходные данные, система координат и
                                                                                    высот, использование материалов
                                                                                    работ прошлых лет <sup class="text-danger" style="font-size: 14px">*</sup>
                                                                                </label>
                                                                                <div class="col-sm-8">
                                                                                    <textarea name="info" id="info" required style="height: 100px;"
                                                                                              class="form-control">{{ order.info }}</textarea>
                                                                                </div>
                                                                            </div>
                                                                            <div class="row mb-3">
                                                                                <label class="col-sm-4 col-form-label">
                                                                                    <b>9. </b>Методы создания геодезического и
                                                                                    (или) съемочного обоснования,
                                                                                    закрепление пунктов, точек</label>
                                                                                <div class="col-sm-8">
                                                                                    <textarea  name="method_creation" id="method_creation" style="height: 100px;"
                                                                                              class="form-control">{{ order.method_creation }}</textarea>
                                                                                </div>
                                                                            </div>

                                                                            <div class="row mb-3">
                                                                                <label class="col-sm-4 col-form-label">
                                                                                    <b>10. </b>Программы уравнивания</label>
                                                                                <div class="col-sm-8">
                                                                                    <textarea  name="adjustment_methods" id="adjustment_methods" style="height: 100px;"
                                                                                              class="form-control">{{ order.adjustment_methods }}</textarea>
                                                                                </div>
                                                                            </div>



                                                                            <div class="row mb-3">
                                                                                <label class="col-sm-4 col-form-label">
                                                                                    <b>11. </b>Метод
                                                                                    выполнения топографической съемки.
                                                                                    Технические требования и технология
                                                                                    выполнения работ</label>
                                                                                <div class="col-sm-8">
                                                                                    <textarea name="method_fill" id="method_fill"  style="height: 100px;"
                                                                                              class="form-control">{{ order.method_fill }}</textarea>
                                                                                </div>
                                                                            </div>
                                                                            <div class="row mb-3">
                                                                                <label class="col-sm-4 col-form-label">
                                                                                    <b>12. </b>Съемка
                                                                                    инженерно-подземных
                                                                                    коммуникаций</label>
                                                                                <div class="col-sm-8">
                                                                                    <textarea name="syomka" id="syomka"  style="height: 100px;" class="form-control">{{ order.syomka }}</textarea>
                                                                                </div>
                                                                            </div>
                                                                            <div class="row mb-3">
                                                                                <label class="col-sm-4 col-form-label">
                                                                                    <b>13. </b>Особые
                                                                                    требования</label>
                                                                                <div class="col-sm-8">
                                                                                    <textarea name="requirements" id="requirements"  style="height: 100px;" class="form-control">{{ order.requirements }}</textarea>
                                                                                </div>
                                                                            </div>
                                                                            <div class="mb-3 row">
                                                                                <label class="col-sm-4 col-form-label">
                                                                                    <b>14.</b>Поверки геодезических инструментов <sup class="text-danger">*</sup>
                                                                                </label>
                                                                                <div class="col-sm-8">
                                                                                    <textarea name="item_check" id="item_check" style="height: 100px;"  class="form-control">{{ order.item_check }}</textarea>
                                                                                </div>
                                                                            </div>
{#                                                                            <div class="row mb-3">#}
{#                                                                                <label class="col-sm-4 col-form-label">#}
{#                                                                                    <b>14. </b>Методы#}
{#                                                                                    и программы уравнивания</label>#}
{#                                                                                <div class="col-sm-8">#}
{#                                                                                    <textarea name="adjustment_methods" id="adjustment_methods"  class="form-control">{{ order.adjustment_methods }}</textarea>#}
{#                                                                                </div>#}
{#                                                                            </div>#}
                                                                            <div class="mb-3 row">
                                                                                <label class="col-sm-4 col-form-label">
                                                                                    <b>15. </b>Перечень
                                                                                    предоставляемых материалов</label>
                                                                                <div class="col-sm-8">
                                                                                    <textarea name="list_of_materials" id="list_of_materials" style="height: 100px;"  class="form-control">{{ order.list_of_materials }}</textarea>
                                                                                </div>
                                                                            </div>
                                                                            <div class="mb-3 row">
                                                                                <label class="col-sm-4 col-form-label">
                                                                                    <b>16. </b>Метод топографической съемки <sup class="text-danger">*</sup></label>
{#                                                                                {{ order.type_of_sirie }}#}
                                                                                <div class="col-sm-8">
                                                                                    <select name="type_of_sirie" id="type_of_sirie" required class="js-example-disabled-results col-sm-12">
                                                                                        <option value="">--- ---</option>
                                                                                        <option value="0" {% if order.type_of_sirie == '0' %}selected{% endif %}>БПЛА</option>
                                                                                        <option value="1" {% if order.type_of_sirie == '1' %}selected{% endif %}>GNSS</option>
                                                                                        <option value="2" {% if order.type_of_sirie == '2' %}selected{% endif %}>Тахеометрическая съемка</option>
                                                                                    </select>
                                                                                </div>

                                                                            </div>


                                                                            <div class="floder_input">
                                                                                <label><b>17. </b>Приложение:</label>
                                                                                <div class="row">

                                                                                     <a href="/{{ pdowork.tz }}" target="_blank">
                                                                                        <div class="f-14 f-w-600 m-l-25">
                                                                                            <span>  <label><b style="color: black">1. </b></label> <i style="color: #168eea;font-size: 20px;" class="fa fa-files-o"></i></span> Tехническоe заданиe
                                                                                        </div>
                                                                                    </a>
{#                                                                                    <a href="/{{ pdowork.smeta }}" target="_blank">#}
{#                                                                                        <div class="f-14 f-w-600 m-l-25"><span>#}
{#                                                                                            <label><b style="color: black">2. </b></label>#}
{#                                                                                            <i style="color: #168eea;font-size: 20px;" class="fa fa-line-chart"></i></span>#}
{#                                                                                            Графическое приложение#}
{#                                                                                        </div>#}
{#                                                                                    </a>#}
                                                                                </div>
                                                                            </div>
                                                                            <div class="mb-3 row">
                                                                                <label class="col-sm-4 col-form-label">Предписание составил</label>
                                                                                <div class="col-sm-8">
                                                                                    <input class="form-control" name="order_creator" readonly id="order_creator" type="text" value="{{ user.profile.full_name }}">
                                                                                </div>
                                                                            </div>

                                                                             <div class="mb-3 row">
                                                                                <label class="col-sm-4 col-form-label">Предписание получил</label>
                                                                                <div class="col-sm-8">
                                                                                    <input class="form-control fio" readonly name="order_receiver" id="order_receiver" type="text" >
                                                                                </div>
                                                                            </div>

                                                                            <input type="text" name="pdowork" id="pdowork_id" value="{{ pdowork.id }}" style="display: none">

                                                                            <hr>

                                                                            <button type="reset" class="btn btn-danger"> <i class="fa fa-close"></i> Майдонни тозалаш</button>
{#                                                                            {% if order != 'None' %}#}
                                                                                <button class="float-end btn btn-warning" id="save_order" type="button"> <i class="fa fa-check"></i> Сақлаш</button>
{#                                                                            {% else %}#}
                                                                            <br>
                                                                            <hr>
                                                                                <button class="float-end btn btn-primary" id="start" type="button"> <i class="fa fa-check"></i> Ишни бошлаш</button>
{#                                                                            {% endif %}#}
{#                                                                            <button class="btn btn-warning" type="button" id="save_order" > <i class="fa fa-check"></i> Сақлашш</button>#}

                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>
                                                        </form>


                                                    </div>
                                                </div>
                                            </div>
                                            <div class="fade tab-pane" id="pills-favourites" role="tabpanel"
                                                 aria-labelledby="pills-favourites-tab">
                                                <div class="ribbon-wrapper card  mb-0">
                                                    <div class="card-body">
                                                        <div class="ribbon ribbon-bookmark ribbon-primary"
                                                             style="font-size: 20px;font-weight: 500;">Aнанавий усулда
                                                        </div>
                                                        <div class="job-sidebar"><a class="btn btn-primary job-toggle"
                                                                                    href="javascript:void(0)"></a>
                                                            <div class="job-left-aside custom-scrollbar">
                                                                <div class="file-sidebar row ">
                                                                    <div class="pricing-plan col-lg-6 shadow-lg">
                                                                        <h5>Aнанавий усулда</h5>
                                                                        <p>Lorem ipsum dolor sit amet, consectetur
                                                                            adipisicing elit. Magni perspiciatis
                                                                            provident quae quam quasi recusandae sed
                                                                            totam? Architecto laudantium, veritatis?</p>
                                                                        <div class="btn-showcase">
                                                                            <button class="btn btn-primary sweet-1"
                                                                                    type="button"
                                                                                    onclick="_gaq.push(['_trackEvent', 'example', 'try', 'sweet-1']);"
                                                                                    data-bs-original-title="" >
                                                                                Ишни бошлаш
                                                                            </button>
                                                                        </div>
                                                                        <img class="bg-img" src="{% static 'assets/images/dashboard/folder1.png' %}" alt="">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Container-fluid Ends-->
    </div>



{#{% block scriptcontent %}#}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script>
    $("#save_order").click(function(event) {
        var data = new FormData();
        data.append("csrfmiddlewaretoken", document.getElementsByName("csrfmiddlewaretoken")[0].value);
        data.append("isset_programwork", $('#isset_programwork').val());
        data.append("size", $('#size').val());
        data.append("info", $('#info').val());
        data.append("worker_ispolnitel", $('#worker_ispolnitel').val());
        data.append("method_creation", $('#method_creation').val());
        data.append("method_fill", $('#method_fill').val());
        data.append("syomka", $('#syomka').val());
        data.append("requirements", $('#requirements').val());
        data.append("item_check", $('#item_check').val());
        data.append("adjustment_methods", $('#adjustment_methods').val());
        data.append("list_of_materials", $('#list_of_materials').val());
        data.append("type_of_sirie", $('#type_of_sirie').val());
        data.append("order_creator", $('#order_creator').val());
        data.append("order_receiver", $('#order_receiver').val());
        data.append("pdowork_id", $('#pdowork_id').val());

        event.preventDefault();

           $.ajax({
            type: 'POST',
            url: '{% url 'save_order' %}',
            data: data,
            cache: false,
            contentType: false,
            processData: false,
            success: function (result){
              location.replace(window.location.pathname);
            },

            error: function(){
              alert('Ajax da xatolik !! ');
            }
        });





        });
</script>

        <script>
    $("#start").click(function(event) {
        var data = new FormData();
        data.append("csrfmiddlewaretoken", document.getElementsByName("csrfmiddlewaretoken")[0].value);
        data.append("isset_programwork", $('#isset_programwork').val());
        data.append("size", $('#size').val());
        data.append("info", $('#info').val());
        data.append("worker_ispolnitel", $('#worker_ispolnitel').val());
        data.append("method_creation", $('#method_creation').val());
        data.append("method_fill", $('#method_fill').val());
        data.append("syomka", $('#syomka').val());
        data.append("requirements", $('#requirements').val());
        data.append("item_check", $('#item_check').val());
        data.append("adjustment_methods", $('#adjustment_methods').val());
        data.append("list_of_materials", $('#list_of_materials').val());
        data.append("type_of_sirie", $('#type_of_sirie').val());
        data.append("order_creator", $('#order_creator').val());
        data.append("order_receiver", $('#order_receiver').val());
        data.append("pdowork_id", $('#pdowork_id').val());

        event.preventDefault();
        if($('#size').val() != 0 && $('#info').val() != 0 && $('#item_check').val() != 0 ){
           $.ajax({
            type: 'POST',
            url: '{% url 'start' %}',
            data: data,
            cache: false,
            contentType: false,
            processData: false,
            success: function (result){
              location.replace('/pdoworks');
            },

            error: function(){
              alert('Ajax da xatolik !! ');
            }
        });
        }
        else{
            alert("Majburiy maydonlarni to'ldiring");
        }





        });
</script>

    <script type="text/javascript">

       $(document).ready(function(){
        $("input[name='isset_programwork']").click(function(){
            $("#isset_programwork").val(this.value);
        });
       });

    </script>
{#         <script>#}
{#        $(document).ready(function(){#}
{#            $("#send").click(function(){#}
{#             var bla = $('#item_check').val();#}
{#                if(bla == ""){#}
{#                    $('#item_check').css("border", "1px solid red");#}
{#                    $("#item_check").focus();#}
{#                    alert('sanbdasd');#}
{#                }#}
{#            });#}
{#        });#}
{#    </script>#}

    <script>
        $(document).ready(function(){
            var bla = $('#worker_ispolnitel').val();
            $('.fio').val(bla);

            $("#worker_ispolnitel").change(function(){
                var worker = $(this).children("option:selected").val();
                $('.fio').val(worker);
            });
        });
    </script>


{#{% endblock scriptcontent %}#}
{% endblock %}