{% extends 'master.html' %}
{% load i18n %}
{% load static %}
{% block title %} Ходимлар {% endblock %}

{% block content%}

{% block stylecontent %}

{% endblock stylecontent %}


        <div class="page-body">
            <div class="container-fluid">
                <div class="page-header">
                    <div class="row">
                        <div class="col-sm-6">
                            <h3>{% trans "Сотрудники" %}</h3>
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="{% url 'index' %}"><i class="fa fa-home f-20"></i></a></li>
                                <li class="breadcrumb-item"><a href="{% url 'workers' %}">{% trans "Сотрудники" %}</a></li>
                            </ol>
                        </div>

                        <div class="col-sm-6 text-end">
                            <a href="#" class="btn btn-primary"><i class="fa fa-users"></i>
                               {% trans "Новые претенденты" %}
                            </a>
                        </div>

                    </div>
                </div>
            </div>

            <div class="container-fluid user-card">
                <div class="row">

                    {% for worker in workers %}

                    <div class="col-xl-4 col-md-4">
                        <div class="card shadow">
                            <div class="blog-box blog-list row m-20">
                                <div class="col-xl-12 col-12">
                                    {% if worker.live == '1' %}
                                        <div class="ribbon ribbon-right ribbon-success">ID : <b>{{ forloop.counter }}</b></div>
                                        {% else %}
                                        <div class="ribbon ribbon-right ribbon-danger">ID : <b>{{ forloop.counter }}</b></div>
                                    {% endif %}
                                    <div class="media"><img class="img-80 rounded-circle" src="{% static 'assets/images/user/5.jpg' %}">
                                        <div class="media-body">
                                            <p class="m-0 f-w-600">{{ worker.full_name}}</p>
                                            <p class="m-0">{{ worker.position}}</p>
                                        </div>
                                    </div>

                                    <div class="row details m-t-10">

                                        <div class="col-8"><span>{% trans "Количество исследованных случаев" %}</span></div>
                                             <div class="col-4 font-primary">5</div>
{#                                        {% for workerobject in workerobjects %}#}
{#                                            {% if workerobject.status == 5 %}#}
{#                                                <div class="col-4 font-primary">#}
{#                                                    {% if forloop.last %}#}
{#                                                            {{ forloop.last }}#}
{#                                                    {% endif %}#}
{#                                                </div>#}
{#                                            {% endif %}#}
{#                                        {% endfor %}#}

                                        <div class="col-8"> <span>{% trans "В настоящее время ведутся работы" %}</span></div>
                                        <div class="col-4 font-primary">2</div>
                                        <div class="col-8"> <span>{% trans "Oценка" %}</span></div>
                                        <div class="col-4 font-primary">50 балл</div>
                                    </div>
                                </div>
                                <a href="#">
                                    {% if worker.live == '1' %}
                                        <a href="{% url 'show_worker' id=worker.id %}" class="btn btn-outline-success m-t-15">{% trans "Подробная  информация" %}</a>
                                        {% else %}
                                        <a href="{% url 'show_worker' id=worker.id %}" class="btn btn-outline-danger m-t-15">{% trans "Подробная  информация" %}</a>
                                    {% endif %}

                                </a>
                            </div>
                        </div>
                    </div>

                    {% endfor %}

                </div>
            </div>
            <!-- Container-fluid Ends-->
        </div>

{% endblock %}