
{% extends 'master.html' %}

{% load static %}
{% block title %} Топографик-Геодезик Дастури {% endblock %}
{% block content%}
{% load i18n %}
{% block stylecontent %}
<style>
    .banner-image{
        background-image: url({% static 'assets/images/shap4.png' %});
        background-position: left;
        background-repeat: no-repeat;
    }
</style>

        <style>
        /* The actual timeline (the vertical ruler) */

        .main-timeline {
            position: relative;
        }
        /* The actual timeline (the vertical ruler) */

        .main-timeline::after {
            content: '';
            position: absolute;
            width: 6px;
            background-color: #939597;
            top: 0;
            bottom: 0;
            left: 50%;
            margin-left: -3px;
        }
        /* Container around content */

        .timeline {
            position: relative;
            background-color: inherit;
            width: 50%;
        }
        /* The circles on the timeline */

        .timeline::after {
            content: '';
            position: absolute;
            width: 25px;
            height: 25px;
            right: -13px;
            background-color: #939597;
            border: 5px solid #F5DF4D;
            top: 15px;
            border-radius: 50%;
            z-index: 1;
        }
        /* Place the container to the left */

        .left {
            padding: 0px 40px 20px 0px;
            left: 0;
        }
        /* Place the container to the right */

        .right {
            padding: 0px 0px 20px 40px;
            left: 50%;
        }
        /* Add arrows to the left container (pointing right) */

        .left::before {
            content: " ";
            position: absolute;
            top: 18px;
            z-index: 1;
            right: 30px;
            border: medium solid white;
            border-width: 10px 0 10px 10px;
            border-color: transparent transparent transparent gray;
        }
        /* Add arrows to the right container (pointing left) */

        .right::before {
            content: " ";
            position: absolute;
            top: 18px;
            z-index: 1;
            left: 30px;
            border: medium solid white;
            border-width: 10px 10px 10px 0;
            border-color: transparent gray transparent transparent;
        }
        /* Fix the circle for containers on the right side */

        .right::after {
            left: -12px;
        }
        /* Media queries - Responsive timeline on screens less than 600px wide */

        @media screen and (max-width: 600px) {
            /* Place the timelime to the left */
            .main-timeline::after {
                left: 31px;
            }
            /* Full-width containers */
            .timeline {
                width: 100%;
                padding-left: 70px;
                padding-right: 25px;
            }
            /* Make sure that all arrows are pointing leftwards */
            .timeline::before {
                left: 60px;
                border: medium solid white;
                border-width: 10px 10px 10px 0;
                border-color: transparent white transparent transparent;
            }
            /* Make sure all circles are at the same spot */
            .left::after,
            .right::after {
                left: 18px;
            }
            .left::before {
                right: auto;
            }
            /* Make all right containers behave like the left ones */
            .right {
                left: 0%;
            }
        }
    </style>
{% endblock stylecontent %}
{% load l10n %}
    {% load humanize %}

    <div class="modal fade modal-bookmark" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h5 class="modal-title" id="exampleModalLabel">{% trans "Информация о заказе" %}</h5>
                <div data-bs-dismiss="modal" aria-label="Close">X</div>
            </div>

             <div class="modal-body">
                  <div class="row">
                <div class="col-lg-6">
                          <div class="mb-2">
                              <b>{% trans "Номер договора" %}<sup style="color: red;">*</sup></b>
                              <p>{{ work.object.pdowork.object_number }}</p>
                          </div>
                          <div class="mb-2">
                              <b>{% trans "Дата договора" %}</b>
                              <p>{{ work.object.pdowork.agreement_date }}</p>
                          </div>
                          <div class="mb-2">
                              <b>{% trans "Наименование объекта" %}<sup style="color: red;">*</sup></b>
                              <p>{{ work.object.pdowork.object_name }} </p>
                          </div>
                          <div class="mb-2">
                              <b>{% trans "Заказчик" %}</b>
                              <p>{{ work.object.pdowork.customer }}</p>
                          </div>
                          <div class="mb-2">
                              <b>{% trans "Адрес объекта" %}<sup style="color: red;">*</sup></b>
                              <p>{{ work.object.pdowork.object_address }}</p>
                          </div>
                      </div>

                      <div class="col-lg-6 text-end">
                          <div class="mb-2">
                              <b>{% trans "Сроки выполнения" %}<sup style="color: red;">*</sup></b>
                              <p>{{ work.object.pdowork.work_term.amount }} {% trans "День" %}</p>
                          </div>
                          <div class="mb-2">
                              <b>{% trans "Реквизиты заказчика" %}<sup style="color: red;">*</sup></b>
                              <p>{{ work.object.pdowork.customer_info }}</p>
                          </div>
                          <div class="mb-2">
                              <b>{% trans "Вид работы" %}<sup style="color: red;">*</sup></b>
                              <p>{{ work.object.pdowork.work_type }}</p>
                          </div>
                          <div class="mb-2">
                              <b>{% trans "Сумма договора" %}<sup style="color: red;">*</sup></b>
                              <p>{{ work.object.pdowork.object_cost|intcomma }}</p>
                          </div>
                          <div class="mb-2">
                              <b>{% trans "Отдел ответственный за исполнительнение" %}<sup style="color: red;">*</sup></b>
                              <p>{{ work.object.pdowork.department }}</p>
                          </div>
                      </div>
                  </div>
                   <div class="row">
                      <div class="col-md-12">
                          <a href="/{{ work.object.pdowork.latter }}" target="_blank"><h6 class=""> <i class="fa fa-file-word-o"></i>{% trans "Ознакомление с письмом заказчика" %} </h6></a>
                      </div>
                      <div class="col-md-12">
                          <a href="/{{ work.object.pdowork.tz }}" target="_blank"><h6 class=""> <i class="fa fa-file-word-o"></i>{% trans "Ознакомление с техническим заданием" %}</h6></a>
                      </div>
                      <div class="col-md-12">
                          <a href="/{{ work.object.pdowork.smeta }}" target="_blank"><h6 class=""> <i class="fa fa-file-word-o"></i>{% trans "Ознакомление со сметой" %} </h6></a>
                      </div>

                  </div>
              </div>

        </div>
    </div>
</div>

        <div class="page-body">
            <div class="container-fluid">
                <div class="page-header">
                    <div class="row">
                        <div class="col-sm-6">
                            <h3> {% trans "Состояния программа работа" %}</h3>
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="{% url 'index' %}"><i class="fa fa-home f-20"></i></a></li>
                                <li class="breadcrumb-item"><a href="{% url 'allworks' %}">{% trans "Все работы" %}</a></li>
                                <li class="breadcrumb-item"><a href="{% url 'history_program_work' id=work.object.id %}">{% trans "Состояния программа работа" %}</a></li>
                            </ol>
                        </div>
                        <div class="col-sm-6">
                            <div class="float-lg-end">
                                <button  class="btn btn-primary"  data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="icofont icofont-maximize"></i>
                                   {% trans "Информация о заказе" %}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid" >
                <div class="row" >
                    <div class="col-sm-12" >
                        <div class="card shadow-lg banner-image" style="background-color: #F0F2F5;">
                            <div class="card-body">
                                <!-- cd-timeline Start-->
                                <section class="cd-container" id="cd-timeline" >

                                <div class="container py-4">
                                    <div class="main-timeline">

                                        {% for history in histories %}

                                            {% if history.status == 27 %}
                                                <div class="timeline left">
                                                    <div class="card">
                                                        <div class="card-body p-4" style="background-color: rgba(255, 224, 179, 0.8);">
                                                            <h5><i class="fa fa-calendar-times-o"></i> {{ history.active_time}}</h5>
                                                            <ul>
                                                                <li> <b class="text-primary"><i class="fa fa-user"></i> {{ history.user_id.full_name}}</b></li>
                                                            </ul>
                                                            <p class="mb-0 mt-1"><i class="fa fa-check"> &nbsp;</i>{{ history.comment }}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endif %}

                                            {% if history.status == 26 %}
                                                <div class="timeline left">
                                                    <div class="card">
                                                        <div class="card-body p-4" style="background-color: rgba(255, 224, 179, 0.8);">
                                                            <h5><i class="fa fa-calendar-times-o"></i> {{ history.active_time}}</h5>
                                                            <ul>
                                                                <li> <b class="text-primary"><i class="fa fa-user"></i> {{ history.user_id.full_name}}</b></li>
                                                            </ul>
                                                            <p class="mb-0 mt-1"><i class="fa fa-check"> &nbsp;</i>{{ history.comment }}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endif %}


                                            {% if history.status == 6 %}
                                                <div class="timeline left">
                                                    <div class="card">
                                                        <div class="card-body p-4" style="background-color: rgba(255, 224, 179, 0.8);">
                                                            <h5><i class="fa fa-calendar-times-o"></i> {{ history.active_time}}</h5>
                                                            <ul>
                                                                <li> <b class="text-primary"><i class="fa fa-user"></i> {{ history.user_id.full_name}}</b></li>
                                                            </ul>
                                                            <p class="mb-0 mt-1"><i class="fa fa-check"> &nbsp;</i>{{ history.comment }}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endif %}

                                            {% if history.status == 5 %}
                                                <div class="timeline right">
                                                    <div class="card">
                                                        <div class="card-body p-4" style="background-color: rgba(255, 128, 128, 0.5);">
                                                            <h5><i class="fa fa-calendar-times-o"></i> {{ history.active_time}}</h5>
                                                            <ul>
                                                                <li> <b class="text-primary"><i class="fa fa-user"></i> {{ history.user_id.full_name}}</b></li>
                                                            </ul>
                                                            <p class="mb-0 mt-1"><i class="fa fa-check"> &nbsp;</i>{{ history.comment }}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endif %}


                                            {% if history.status == 4 %}
                                                <div class="timeline right">
                                                <div class="card">
                                                    <div class="card-body p-4" style="background-color: rgba(204, 255, 204, 0.8);">
                                                        <h5><i class="fa fa-calendar-times-o"></i> {{ history.active_time }}</h5>
                                                        <ul>
                                                            <li><b class="text-primary"><i class="fa fa-user"></i> {{ history.user_id.full_name }}</b></li>
                                                            <li class="text text-success">
                                                                <a href="#" class="text text-success">  {% trans "Акт положительный" %}</a>
                                                            </li>
                                                        </ul>
                                                        <p class="mb-0 mt-1"><i class="fa fa-check"> &nbsp;</i> {{ history.comment }}</p>

                                                    </div>
                                                </div>
                                            </div>
                                            {% endif %}



                                        {% endfor %}


                                    </div>
                                </div>

                                </section>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% endblock %}

