{% extends 'master.html' %}

{% load static %}
{% block title %} Архив {% endblock %}

{% block content%}

{% block stylecontent %}

{% endblock stylecontent %}



        <div class="page-body">
            <div class="container-fluid">
                <div class="page-header">
                    <div class="row">
                        <div class="col-sm-6">
                            <h3>Aрхив</h3>
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="{% url 'index' %}"><i
                                        class="fa fa-home f-20"></i></a></li>
                                <li class="breadcrumb-item"><a href="{% url 'history' %}">Aрхив</a></li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Container-fluid starts-->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <h5>Aрхивга келиб тушган ишлар ҳақида маълумотлар</h5>
                            </div>
                            <div class="card-body">
                                <form action="">
                                    <div class="row">

                                        <div class="col-lg-6">
                                            <select class="form-control form-control-info btn-square" name="worker" id="worker">
                                                <option value="">-- Ишнибажарувчи --</option>
                                                {% for worker in workers %}
                                                    <option value="{{ worker.id }}">{{ worker.full_name}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="col-md-6">
                                                <input class="form-control" type="number" placeholder="Обьект рақами бўйича" id="number" name="number">
                                        </div>

                                    </div>
                                    <div class="row m-t-15">
                                        <div class="col-lg-4 col-md-6 input-group" style="width: 35%">
                                            <span class="input-group-text">Шартнома санаси дан ... </span>
                                            <input class="form-control" type="date" id="start_time" name="start_time">
                                        </div>
                                         <div class="col-lg-4 col-md-6 input-group" style="width: 35%">
                                            <span class="input-group-text">.... гача ... </span>
                                            <input class="form-control" type="date" id="end_time" name="end_time">
                                        </div>


                                        <div class="col-lg-4 col-md-4" style="width: 30%">
                                            <button class="btn btn-primary w-100 text-center" id="search">
                                                Қидириш
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="table-responsive p-l-30 p-r-30 p-b-30">
                                <table class="table table-bordered">
                                    <thead class="table-primary">
                                    <tr>
                                        <th class="text-center" scope="col">№</th>
                                        <th scope="col"><b>Ишнибажарувчи</b></th>
                                        <th scope="col"><b>Ташкилот номи</b></th>
                                        <th scope="col"><b>Ишмазмуни</b></th>
                                        <th scope="col" class="text-center"><b>Муддати</b></th>
                                        <th scope="col" class="text-center">Кўриш</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    {% for work in works %}
                                        <tr>
                                            <th class="text-center" scope="row">{{ forloop.counter }}</th>
                                            <td>{{ work.object.worker_ispolnitel}}</td>
                                            <td>{{ work.object.pdowork.customer}}</td>
                                            <td>{{ work.object.pdowork.object_name}}</td>
                                            <td class="text-center">{{ work.object.pdowork.work_term}} kun</td>
                                            <td class="text-center">
                                                <a href="{% url 'show_all_works' id=work.object.id %}">
                                                    <button class="btn btn-outline-primary">Кўриш</button>
                                                </a>
                                            </td>

                                        </tr>
                                    {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                            <div class="col-xl-12">
                                <nav class="float-end p-b-30 p-r-30">
                                    <ul class="pagination pagination-primary">
                                        <li class="page-item disabled"><a class="page-link" href="javascript:void(0)" tabindex="-1">Олдинги</a></li>
                                        <li class="page-item active"><a class="page-link" href="javascript:void(0)">1</a></li>
                                        <li class="page-item"><a class="page-link" href="javascript:void(0)">2<span class="sr-only"></span></a></li>
                                        <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
                                        <li class="page-item"><a class="page-link" href="javascript:void(0)">Кейинги</a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
       <script type="text/javascript">
    $(document).on('click',"#search",function(){
        var data = new FormData();
        data.append("csrfmiddlewaretoken", document.getElementsByName("csrfmiddlewaretoken")[0].value);

        data.append("worker", $('#worker').val());
        data.append("start_time", $('#start_time').val());
        data.append("end_time", $('#end_time').val());
        data.append("number", $('#number').val());

        event.preventDefault();
            $.ajax({
            type: 'POST',
            url: '{% url 'search' %}',
            data: data,
            cache: false,
            contentType: false,
            processData: false,

            success: function (result){
{#                $('#succes_message').css('display','inline-block');#}
                location.replace(window.location.pathname);
            },
{#             timeout: 3000;#}

            error: function(){
              alert('Serverga yubara olmaymiz !! ');
            }

        });

    });
</script>