
{% extends 'master.html' %}
{% load i18n %}
{% load static %}
{% block title %} Иш холати {% endblock %}

{% block content%}

{% block stylecontent %}

    <style>
    /* Timeline holder */
    ul.timeline {
        list-style-type: none;
        position: relative;
        padding-left: 2.5rem;
    }

    /* Timeline vertical line */
    ul.timeline:before {
        content: ' ';
        background: rgba(20, 151, 236, 0.58);
        display: inline-block;
        position: absolute;
        left: 16px;
        width: 4px;
        height: 100%;
        z-index: 0;
        border-radius: 1rem;
    }

    li.timeline-item {
        margin: 20px 0;
    }

    /* Timeline item arrow */
    .timeline-arrow {
        border-top: 0.5rem solid transparent;
        border-right: 0.5rem solid rgba(20, 151, 236, 0.58);
        border-bottom: 0.5rem solid transparent;
        display: block;
        position: absolute;
        left: 2rem;
    }

    /* Timeline item circle marker */
    li.timeline-item::before {
        content: ' ';
        background: rgba(19, 174, 255, 0.76);
        display: inline-block;
        position: absolute;
        border-radius: 50%;
        border: 3px solid rgba(19, 174, 255, 0.76);
        left: 11px;
        width: 14px;
        height: 14px;
        z-index: 0;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    }

    </style>

{% endblock stylecontent %}
        {% load l10n %}
    {% load humanize %}

  <div class="modal fade modal-bookmark " id="exampleModal"
       tabindex="-1" aria-labelledby="exampleModalLabel"
       style="display: none;" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
              <div class="modal-header bg-primary">
                  <h5 class="modal-title" id="exampleModalLabel">
                       {% trans "Информация о заказе" %} </h5>
                  <button class="btn-close text-white" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
             <div class="modal-body">
                  <div class="row">
                <div class="col-lg-6">
                          <div class="mb-2">
                              <b>{% trans "Номер договора" %}<sup style="color: red;">*</sup></b>
                              <p>{{ pdowork.pdowork.object_number }}</p>
                          </div>
                          <div class="mb-2">
                              <b>{% trans "Дата договора" %}</b>
                              <p>{{ pdowork.pdowork.agreement_date }}</p>
                          </div>
                          <div class="mb-2">
                              <b>{% trans "Наименование объекта" %}<sup style="color: red;">*</sup></b>
                              <p>{{ pdowork.pdowork.object_name }} </p>
                          </div>
                          <div class="mb-2">
                              <b>{% trans "Заказчик" %}</b>
                              <p>{{ pdowork.pdowork.customer }}</p>
                          </div>
                          <div class="mb-2">
                              <b>{% trans "Адрес объекта" %}<sup style="color: red;">*</sup></b>
                              <p>{{ pdowork.pdowork.object_address }}</p>
                          </div>
                      </div>

                      <div class="col-lg-6 text-end">
                          <div class="mb-2">
                              <b>{% trans "Сроки выполнения" %}<sup style="color: red;">*</sup></b>
                              <p>{{ pdowork.pdowork.work_term }} kun</p>
                          </div>
                          <div class="mb-2">
                              <b>{% trans "Реквизиты заказчика" %}<sup style="color: red;">*</sup></b>
                              <p>{{ pdowork.pdowork.customer_info }}</p>
                          </div>
                          <div class="mb-2">
                              <b>{% trans "Вид работы" %}<sup style="color: red;">*</sup></b>
                              <p>{{ pdowork.pdowork.work_type }}</p>
                          </div>
                          <div class="mb-2">
                              <b>{% trans "Сумма договора" %}<sup style="color: red;">*</sup></b>
                              <p>{{ pdowork.pdowork.object_cost|intcomma }}</p>
                          </div>
                          <div class="mb-2">
                              <b>{% trans "Отдел ответственный за исполнительнение" %}<sup style="color: red;">*</sup></b>
                              <p>{{ pdowork.pdowork.department }}</p>
                          </div>
                      </div>
                  </div>
                   <div class="row">
                      <div class="col-md-12">
                          <a href="/{{ pdowork.pdowork.latter }}" target="_blank"><h6 class=""> <i class="fa fa-file-word-o"></i>{% trans "Ознакомление с письмом заказчика" %} </h6></a>
                      </div>
                      <div class="col-md-12">
                          <a href="/{{ pdowork.pdowork.tz }}" target="_blank"><h6 class=""> <i class="fa fa-file-word-o"></i>{% trans "Ознакомление с техническим заданием" %} </h6></a>
                      </div>
                      <div class="col-md-12">
                          <a href="/{{ pdowork.pdowork.smeta }}" target="_blank"><h6 class=""> <i class="fa fa-file-word-o"></i>{% trans "Ознакомление со сметой" %} </h6></a>
                      </div>

                  </div>
              </div>
          </div>
      </div>
  </div>

        <div class="page-body">
            <div class="container-fluid">
                <div class="page-header">
                    <div class="row">
                        <div class="col-sm-6">
                            <h3>{% trans "Состояния работа" %}</h3>
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="{% url 'index' %}" ><i class="fa fa-home f-20"></i></a></li>
                                <li class="breadcrumb-item"><a href="{% url 'status_work' id=work.id %}">{{ work.object_name }}</a></li>
                            </ol>
                        </div>
                        <div class="col-sm-6">
                            <div class="float-lg-end">
                                <div class="p-10 bg-primary f-w-600" type="button"
                                        data-bs-toggle="modal" data-bs-target="#exampleModal"><i
                                        class="icofont icofont-maximize"></i>
                                    {% trans "Информация о заказе" %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Container-fluid starts-->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-10 mx-auto">
                        <ul class="timeline">

                            {% for history in histories %}

                            <li class="timeline-item shadow rounded ml-3 p-t-10 bg-primary">
                                <div class="timeline-arrow"></div>
                                <div class="default-according style-1" id="accordionocone">
                                    <button class="btn btn-link p-b-15 txt-primary txt-light" data-bs-toggle="collapse" data-bs-target="#collapse{{ history.id }}" aria-expanded="false" aria-controls="collapse11">
                                        <i class="fa fa-check text-white"></i> <b>{{ history.comment}}</b>
                                    </button>
                                    <div class="collapse" id="collapse{{ history.id }}" aria-labelledby="collapse{{ history.id }}" data-bs-parent="#accordionocone">
                                        <div class="col-sm-12" style="background-color: #ffffff;">
                                            <div class="table-responsive m-t-30">
                                                <table class="table table-bordered">
                                                    <thead class="table-primary">
                                                    <tr>
                                                        <th scope="col">#</th>
                                                        <th scope="col">{% trans "Наименование объекта" %}</th>
                                                        <th scope="col">{% trans "Кто выполнил" %}</th>
                                                        <th scope="col">{% trans "Время, когда изменения были сделаны" %}</th>
{#                                                        <th class="table-danger" scope="col">Қайтарилганлар сони</th>#}
{#                                                        <th class="table-warning" scope="col">Жўнатилган муддати</th>#}
{#                                                        <th scope="col">Кўриш</th>#}
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr>
                                                        <th scope="row">#</th>
                                                        <td>{{ history.object }}</td>
                                                        <td>{{ history.user_id.full_name}}</td>
                                                        <td>{{ history.active_time }}</td>
{#                                                        <td>4</td>#}
{#                                                        <td>06/11/2020</td>#}
{#                                                        <td>#}
{#                                                            <a href="">#}
{#                                                                <button class="btn btn-primary">Кўриш</button>#}
{#                                                            </a>#}
{#                                                        </td>#}
                                                    </tr>

                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            {% endfor %}


                        </ul>
                    </div>
                </div>
            </div>
        </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

{% endblock %}

{% block scriptcontent %}


    <script src="{% static 'assets/js/datepicker/date-time-picker/moment.min.js' %}"></script>
    <script src="{% static 'assets/js/datepicker/date-time-picker/tempusdominus-bootstrap-4.min.js' %}"></script>
    <script src="{% static 'assets/js/datepicker/date-time-picker/datetimepicker.custom.js' %}"></script>
    <script src="{% static 'assets/js/boottable.js' %}"></script>

    <script src="{% static 'assets/js/timeline/timeline-v-2/jquery.timeliny.min.js' %}"></script>
    <script src="{% static 'assets/js/timeline/timeline-v-2/timeline-v-2-custom.js' %}"></script>
    <script src="{% static 'assets/js/script.js' %}"></script>


{% endblock scriptcontent %}
