{% extends 'master.html' %}
{% load static %}
{% block title %} Кузатувдаги Вазифалар {% endblock %}
{% block content%}
{% block stylecontent %}


{% endblock stylecontent %}


        <div class="page-body">
            <div class="container-fluid">
                <div class="page-header">
                    <div class="row">
                        <div class="col-sm-6">
                            <h3>Кузатувдаги вазифалар</h3>
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html">Бош саҳифа</a></li>
                                <li class="breadcrumb-item active">Кузатувдаги вазифалар</li>
                            </ol>
                        </div>

                    </div>
                </div>
            </div>

       <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="col-md-12">
                                <div id="right">
                                    <div id="calendar"></div>
                                        <div class="fc-day-event" data-time="2022-01-16">
                                            <span class="count">2</span>
                                            <div class="modal fade bd-example-modal-lg" tabindex="-1" style="display: none;" aria-hidden="true">
                                                <div class="modal-dialog modal-lg">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h4 class="modal-title" id="myLargeModalLabel">Bajaralidigan ish</h4>
                                                            <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close" data-bs-original-title="" title=""></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div class="col-sm-12">
                                                                <div class="table-responsive">
                                                                    <table class="table table-bordered">
                                                                        <thead class="bg-danger">
                                                                        <tr>
                                                                            <th scope="col">#</th>
                                                                            <th scope="col">Ishberuvchi</th>
                                                                            <th scope="col">Ish nomi</th>
                                                                            <th scope="col">Ish turi</th>
                                                                            <th scope="col">Muddati</th>
                                                                            <th scope="col">Ko'rish</th>
                                                                        </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                        <tr>
                                                                            <th scope="row">1</th>
                                                                            <td>Sardor Komilov</td>
                                                                            <td>PDO</td>
                                                                            <td>Topshiriq</td>
                                                                            <td>12/01/2022</td>
                                                                            <td>Ko'rish</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <th scope="row">1</th>
                                                                            <td>Sardor Komilov</td>
                                                                            <td>PDO</td>
                                                                            <td>Topshiriq</td>
                                                                            <td>12/01/2022</td>
                                                                            <td>Ko'rish</td>
                                                                        </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="fc-day-event" data-time="2022-01-22">
                                            <span class="count">1</span>
                                            <div class="modal fade bd-example-modal-lg" tabindex="-1" style="display: none;" aria-hidden="true">
                                                <div class="modal-dialog modal-lg">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h4 class="modal-title" id="myLargeModalLabel10">Bajaralidigan ish</h4>
                                                            <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close" data-bs-original-title="" title=""></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div class="col-sm-12">
                                                                <div class="table-responsive">
                                                                    <table class="table table-bordered">
                                                                        <thead class="bg-primary">
                                                                        <tr>
                                                                            <th scope="col">#</th>
                                                                            <th scope="col">Ishberuvchi</th>
                                                                            <th scope="col">Ish nomi</th>
                                                                            <th scope="col">Ish turi</th>
                                                                            <th scope="col">Muddati</th>
                                                                            <th scope="col">Ko'rish</th>
                                                                        </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                        <tr>
                                                                            <th scope="row">1</th>
                                                                            <td>Sardor Komilov</td>
                                                                            <td>PDO</td>
                                                                            <td>Topshiriq</td>
                                                                            <td>12/01/2022</td>
                                                                            <td>Ko'rish</td>
                                                                        </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        </div>

    <script src="{% static 'assets/js/fullcalendar/app.js' %}"></script>
<script src="{% static 'assets/js/fullcalendar/locales/ru.js' %}"></script>
    <script>
    document.addEventListener('DOMContentLoaded', function () {
        var calendarEl = document.getElementById('calendar');

        var calendar = new FullCalendar.Calendar(calendarEl, {
            headerToolbar: {
                right: 'prev,next',
                center: 'title',
                left: 'today',
            },
            titleFormat: { month: 'long' },
            locale: 'ru',
            height: 650,
            selectable: true,
            themeSystem: 'bootstrap',
            editable: false,
            navLinks: false, // can click day/week names to navigate views
            dayMaxEvents: true, // allow "more" link when too many events,
        });

        calendar.render();

        document.querySelectorAll('.fc-day-event').forEach((div) => {
            const badge = document.createElement('span')
            badge.innerHTML = div.querySelector('.count').innerHTML
            badge.classList.add('event-count')

            const day = document.querySelector(`[data-date="${div.dataset.time}"]`)
            day.addEventListener('click', function(event) {
                (new bootstrap.Modal(div.querySelector('.modal'))).toggle()
            })
            day.append(badge)
        })
    });

</script>
{% endblock %}

