{% extends 'master.html' %}
{% load static %}
{% block title %} Кузатувдаги Вазифалар {% endblock %}
{% block content%}
{% block stylecontent %}

{% endblock stylecontent %}


        <div class="page-body">
            <div class="container-fluid">
                <div class="page-header">
                    <div class="row">
                        <div class="col-sm-6">
                            <h3>Кузатувдаги вазифалар</h3>
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html">Бош саҳифа</a></li>
                                <li class="breadcrumb-item active">Кузатувдаги вазифалар</li>
                            </ol>
                        </div>

                    </div>
                </div>
            </div>


       <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="col-md-12">
                                <div id="right">
                                    <div id="calendar"></div>


                            {% if user.profile.status == '1' %}
                                {% for work in works %}
                                <p class="time" id="time" style="display: none">{{ work.agreement_date }}</p>
                                <p class="term" id="term"  style="display: none">{{ work.work_term }}</p>


                                <div class="fc-day-event one" id="one">

                                            <span class="count"></span>
                                            <div class="modal fade bd-example-modal-lg" tabindex="-1" style="display: none;" aria-hidden="true">
                                                <div class="modal-dialog modal-lg">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h4 class="modal-title" id="myLargeModalLabel">Bajaralidigan ish</h4>
                                                            <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close" data-bs-original-title="" title=""></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div class="col-sm-12">
                                                                <div class="table-responsive">

                                                                    <table class="table table-bordered">
                                                                        <thead class="bg-primary">
                                                                        <tr class="text-white text-center">
                                                                            <th scope="col">#</th>
                                                                            <th scope="col">Ishberuvchi</th>
                                                                            <th scope="col">Ish nomi</th>
                                                                            <th scope="col">Ish turi</th>
                                                                            <th scope="col">Muddati</th>
{#                                                                            <th scope="col">Tanishish</th>#}
                                                                        </tr>
                                                                        </thead>
                                                                        <tbody>

                                                                          <tr class="text-center">
                                                                                    <th scope="row">{{ forloop.counter }}</th>
                                                                                    <td>{{ work.customer_info}}</td>
                                                                                    <td>{{ work.object_name}}</td>
                                                                                    <td>{{ work.work_type}}</td>
                                                                                    <td>{{ work.work_term}} kun</td>
    {#                                                                                <td class="text-center"><a href="{% url 'show_pdowork' id=work.id %}" class="btn btn-success">Ko'rish</a></td>#}
                                                                          </tr>


                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                            {% endfor %}
                                {% endif %}



                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>

        </div>
        </div>



<script src="{% static 'assets/js/fullcalendar/app.js' %}"></script>
<script src="{% static 'assets/js/fullcalendar/locales/ru.js' %}"></script>

    <script>
        let elements = document.getElementsByClassName("time");
        let terms = document.getElementsByClassName("term");
        const dates = [];
        for(let i=0; i < elements.length; i++){
            dates.push(elements[i].innerHTML);
            var a = dates[i].split('/').reverse();
            var b = a[0].toString()+'-'+a[1].toString()+'-'+(parseInt(a[2])+parseInt(terms[i].innerHTML)).toString();
            document.getElementsByClassName("one")[i].setAttribute("data-time", b);
            document.getElementsByClassName("count")[i].innerHTML=1;
        }


    </script>

    <script>
    document.addEventListener('DOMContentLoaded', function () {
        var calendarEl = document.getElementById('calendar');

        var calendar = new FullCalendar.Calendar(calendarEl, {
            headerToolbar: {
                right: 'prev,next',
                center: 'title',
                left: 'today',
            },
            titleFormat: { month: 'long' },
            locale: 'ru',
            height: 650,
            selectable: true,
            themeSystem: 'bootstrap',
            editable: false,
            navLinks: false, // can click day/week names to navigate views
            dayMaxEvents: true, // allow "more" link when too many events,
        });

        calendar.render();

        document.querySelectorAll('.fc-day-event').forEach((div) => {
            const badge = document.createElement('span')
            badge.innerHTML = div.querySelector('.count').innerHTML
            badge.classList.add('event-count')

            const day = document.querySelector(`[data-date="${div.dataset.time}"]`)
            day.addEventListener('click', function(event) {
                (new bootstrap.Modal(div.querySelector('.modal'))).toggle()
            })
            day.append(badge)
        })
    });

</script>

{% endblock %}

